.popup-inner {
    padding: 20px;
    overflow: hidden;
}

svg path:hover {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    fill: yellow;
}

svg.jvectormap-region {
    width: 100%;
    height: auto;
}

@-webkit-keyframes bounce {
    0% {

    }
    100% {
        -webkit-transform: scale(1.1) translateY(-7%) translateX(-3%);
    }
}

@-moz-keyframes bounce {
    0% {

    }
    100% {
        -moz-transform: scale(1.1) translateY(-7%) translateX(-3%);
    }
}

@-ms-keyframes bounce {
    0% {

    }
    100% {
        -ms-transform: scale(1.1) translateY(-7%) translateX(-3%);
    }
}

@-o-keyframes bounce {
    0% {

    }
    100% {
        -o-transform: scale(1.1) translateY(-7%) translateX(-3%);
    }
}

@keyframes bounce {
    0% {

    }
    100% {
        transform: scale(1.1) translateY(-7%) translateX(-3%);
    }

}



svg circle {
    z-index: 1;
}

.wide-block {
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto 0;
    padding-bottom: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

span.state {
    position: absolute;
    z-index: 1;
}

.chernigov {
    left: 53%;
    top: 10.5%;
}

.sumy {
    left: 63.8%;
    top: 17%;
}

.lutsk {
    left: 13.9%;
    top: 17.8%;
}

.rovno {
    left: 27.8%;
    top: 20.1%;
}

.kiev {
    left: 49.5%;
    top: 24%;
}

.zhitomyr {
    left: 29.4%;
    top: 26.2%;
}

.lvov {
    left: 7%;
    top: 27.4%;
}

.kharkov {
    left: 79%;
    top: 27.9%;
}

.poltava {
    left: 70.2%;
    top: 33.1%;
}

.khmelnitsk {
    left: 30.8%;
    top: 34.1%;
}

.ternopol {
    left: 13%;
    top: 33.9%;
}

.cherkassy {
    left: 57.4%;
    top: 36.3%;
}

.vinnitsa {
    left: 38.5%;
    top: 39.8%;
}

.iv-frankovsk {
    left: 18.7%;
    top: 40%;
}

.lugansk {
    left: 87.5%;
    top: 42.6%;
}

.uzhgorod {
    left: 6.9%;
    top: 43.4%;
}

.dnepropetrovsk {
    left: 73.1%;
    top: 47%;
}

.kirovograd {
    left: 47%;
    top: 47.3%;
}

.chernovtsy {
    left: 15.5%;
    top: 48.3%;
}

.donetsk {
    left: 88%;
    top: 51%;
}

.zaporozhje {
    left: 64.7%;
    top: 54.7%;
}

/*.nikolayev {left:45.5%; top:65.1%;}*/
.nikolayev {
    left: 50.5%;
    top: 60.1%;
}

.kherson {
    left: 60.5%;
    top: 69.5%;
}

.odessa {
    left: 41.5%;
    top: 72.4%;
}

.krym {
    left: 65%;
    top: 85%;
}

.state i {
    background-color: #01e4f7;
    font-size: 1vw;
}

.state em {
    padding: 3px 0 6px 8px;
    background-color: #01e4f7;
    border-radius: 7px;
}

.state i noindex {
    color: #9ebdd7;
}

/*.state:hover i { display:none;}*/


.fade.in {
    opacity: 0.8;

}
.modal-content {
    opacity: 0.9;
    background-color: #000;
    color: #FFF;
}
.form-control {
    background-color: #000;
    color:#fff;
    opacity:1;
}

.modal-header .close {
    background-color: #000;
    color:#fff;
    opacity:1;
}
.modal.in .modal-dialog {
    margin-top:10%;
}


/*button{
    border: 2px solid #ed7d1a;
    margin-top: 20px !important;
    display: block;
    padding: 5px 20px;
    background: #fff;
    font-family: "DejaBold";
    color: #515352;
    transition: 0.25s ease;
    font-size: 22px !important;
}

button:hover{
    color: #fff !important;
    background: #ed7d1a;
    text-decoration: none;
    transition: 0.25s ease;
}*/

.AB-solar{
    margin-top: 30px;
}


.AB-solar .main1{
    padding-top: 25px;
}

.button-send{
    width: 200px;
    height: 50px;
    color: #fff;
    background: #ed7d1a;
    display: block;
    line-height: 50px;
    position: relative;
    text-indent: 20px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 19px;
    margin-top: 20px;
    border: none;
}
.button-send i{
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 24px;
    top: 12px;
    transition: all 0.3s ease-in-out;
    background: url("../images/Calculation/icons.png") -128px -385px;
}
.button-send:hover i{
    left: 165px;
}
.button-send:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


a.button-send {
    align-items: flex-start;
    text-align: center;    overflow: visible;
    margin: 20px 0 0;
}

.AB-solar .city{
    font-family: "DejaCond";
    color: #444;
    font-size: 20px;
    padding-top: 12px;
    text-align: center;
}

.AB-solar .phrase{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.AB-solar .phrase div {
    font-family: "DejaCond";
    color: #444;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    padding-top: 12px;
    text-align: left;
    text-indent: 1.5em;
}

.AB-solar .phrase .author {
    text-align: right;
}

@media only screen and (min-width: 1300px) {
    .AB-solar .main4{
        height: 225px;
    }
}

.AB-solar .main4{
    padding-bottom: 15px;
}

.AB-solar .main4 strong{
    font-family: "DejaCond";
}

.AB-solar .main3{
    padding-bottom: 20px;
    padding-top: 20px;
}
.AB-solar .green-block{
    padding-bottom: 5px;
}
.AB-solar .main2{
    padding-bottom: 30px;
}
.AB-solar .img-responsive{
    margin: auto;
}

.AB-solar main{
    min-height: 1000px;
}
.AB-solar .chart{
    min-height: 250px;
}

.logo-wrap{
    min-height: 253px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.2;
}
.header-top, .header, .footer {
    box-sizing: content-box;
}
ul.lang-inline {
    margin-top: 0;
    margin-bottom: 0;
}
div.dialer-form.moduletable_topcontacts p {
    margin: 0;
}
.dialer-input input {
    font: 13.3333px Arial;
}
.moduletable_footermeny h3 {
    font-family: inherit;
    text-transform: none;
    text-align: left;
}

::-moz-placeholder {
    color:#777777;
    opacity:1;
}
:-ms-input-placeholder {
    color:#8e8e8e;
}
::-webkit-input-placeholder {
    color:#a9a9a9;
}
