	div#toolbar-box {
	 display: none;
	}
	div#border-top {
	  display: none;
	}
	div#submenu-box {
	 display: none;
	}
	div.current {
	 float: left;
	 padding: 5 !important;
	 width: 98%;
	}
	div {
	 text-indent: 0;
	}
	dl {
	 margin-left: 0 !important;
	 padding: 0 !important;
	}
	dd {
	 margin-left: 0 !important;
	 padding: 0 !important;
	 width: 100%;
	}
	dd div {
	 margin-left: 0 !important;
	 padding-left: 0 !important;
	 text-indent: 0 !important;
	 width: 100%;
	 left: 0;
	}
	div.current dd {
	 
	 padding-left:1px;
     padding-right:1px;
     margin-left:1px;
     margin-right:1px;
     text-indent:1px;
     float: left;
	}
	td {
	 border: 1px none !important;
	 border-style: none !important;
	}
	table.adminlist, td, th {
	 border: 0px none !important;
	}
	tr.trclass {
	 border-style: none !important;
	 border: 0px none !important;
	}
	table.adminlist, th {
	 /*background-color: #7A7A7A !important;
	 color: white;*/
	 font-weight: bold;
	 font-size: 120%;
	 border-style: none !important;
	 margin: 0 !important;
	}
	table.adminlist, tr, td {
	 height: 20px !important;
	 border: 0px none !important;
	 padding: 1px;
	 border-spacing: 0px !important;
	 border-style: none !important;
	 font-size: 12px;
	}
	input.inputfield {
	 height: 20px;
	 font-size: 14px;
	}
	input.image {
	 border-style: none !important;
	 border-width: 0px !important;
	 border: none !important;
	}
	input.ipt {
		color: #D9EEF7;
	}
	input.ipt {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
	/*padding: .5em 2em .55em;*/
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
	input.ipt:hover {
	text-decoration: none;
	
	}
	.input.ipt:active {
	position: relative;
	top: 1px;
	color: #fcd3a5;
	}
/* extremely helpfull demo: http://www.webdesignerwall.com/demo/css-buttons.html */

div#vmMainPageOPC .row {
 margin-left: 0px; 
}

#vmMainPageOPC div.tab-pane, div.linewrapper  {
clear: both; 
border: 1px solid #ccc; 
padding: 10px 10px; 
margin-bottom: 10px; 
}
.headerrow {
 background-color: #f0f0f0; 
 /*border-top-left-radius: 10px; border-top-right-radius: 10px;*/
 font-weight: bold; 
}
.roundedwrap {
 /*border: solid 1px black; */
 /*border-radius: 10px; */
 padding: 0px
}
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr=\'#00adee\', endColorstr=\'#0078a5\');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr=\'#0095cc\', endColorstr=\'#00678e\');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr=\'#0078a5\', endColorstr=\'#00adee\');
}	
	
	div.leftdiv {
	 float: left;
	 width: 30%;
	 line-height: 15px;
	 font-weight: bold;
	}
	div.rightdiv {
	 float: left;
	 width: 70%;
	 clear: right;
	 word-wrap: break-word;
	 line-height: 15px;
	 font-weight: normal;
	}
	div.divleft {
	 float: left;
	 width: 30%;
	 line-height: 25px;
	 font-weight: bold;
	}
	div.divright {
	 float: left;
	 width: 70%;
	 clear: right; 
	 word-wrap: break-word;
	 line-height: 25px;
	 font-weight: normal;
	}
	div.rightd {
	 float: left;
	 width: 9%;
	 line-height: 25px;
	 font-weight: bold;
	 margin-left: 1%;
	}
	div.leftd {
	 text-align: right;
	 float: left;
	 width: 90%;
	 clear: right;
	 word-wrap: break-word;
	 line-height: 25px;
	 font-weight: normal;
	}
	.adminForm label {

	white-space: nowrap;

}

.adminForm {

	table-layout: auto;

	text-align: left;

}

.adminForm td, .adminForm tr {

	vertical-align: middle;

}

.adminlist th {

	white-space: nowrap;

}
#opc_order_details a.pagenav,#opc_order_details a.pagenav:visited, span.pagenav  {
 color: white; 
 font-weight: bold; 
}

#opc_order_details table.adminlist thead th {
 color: white; 
}