/*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/
div#vmMainPageOPC *, div#vmMainPageOPC *:before, div#vmMainPageOPC *:after
{
 background-image: none; 
 -webkit-box-sizing: content-box;
 box-sizing: content-box;
  
 
}
div#vmMainPageOPC  div.acy_class_wrapper {
 width: 100%; 
 clear: both; 
 float: left; 
}
div#vmMainPageOPC  div.acy_class_wrapper label, div#vmMainPageOPC  div.acy_class_wrapper label span {
 text-align: left; 
}
div#vmMainPageOPC div#onepage_info_above_button div.agree_top_wrapper div.agreed_label_wrapper
{
 clear: right; 
 width: 85%; 
 margin: 0; 
 padding: 0; 
 float: left; 
}
div#vmMainPageOPC div#onepage_info_above_button div.agree_top_wrapper div.agreed_input_wrapper {
clear: left; 
 width: 15%; 
 margin: 0; 
 padding: 0; 
 float: left; 
}
div#vmMainPageOPC div#agreed_div div.agree_top_wrapper, div#vmMainPageOPC  .agree_top_wrapper {
width: 100%; 
text-align: left;
clear: both;
float:left;
}
#vmMainPageOPC textarea, #vmMainPageOPC input[type="text"], #vmMainPageOPC input[type="password"], #vmMainPageOPC input[type="datetime"], #vmMainPageOPC input[type="datetime-local"], #vmMainPageOPC input[type="date"], #vmMainPageOPC input[type="month"], #vmMainPageOPC input[type="time"], #vmMainPageOPC input[type="week"], #vmMainPageOPC input[type="number"], #vmMainPageOPC input[type="email"], #vmMainPageOPC input[type="url"], #vmMainPageOPC input[type="search"], #vmMainPageOPC input[type="tel"], #vmMainPageOPC input[type="color"], #vmMainPageOPC .uneditable-input  {
 min-height: 25px; 
}
#vmMainPageOPC div#payment_html select {
 max-width: 140px; 
}



div#vmMainPageOPC input, div#vmMainPageOPC select {
 border: 1px solid #D6D6D6; 
 float:left;
}
div#vmMainPageOPC {
  clear: both; 
  float: none; 
  overflow: none; 
  margin: 0; 
  padding: 0; 
  /*position: relative; */
  margin-top: 30px;   
  font-family: Arial
}
div#vmMainPageOPC {
  margin: 0; 
  padding: 0; 

}
/* stan custom modifications: */
div#vmMainPageOPC {
 margin-right: 30px; 
 
}
div#vmMainPageOPC input#coupon_code {
 max-width: 200px; 
 float: left; 
 clear: left; 
 margin: 0; 
}
div#vmMainPageOPC .formField span{
	clear:both;
}


div.details-button, div.details-button button {
 float: left; 
 clear: right; 
 right: 0; 
 width: auto; 
 
}

input#register_account {
 margin: 0; 
 height: auto; 
 margin-top: 3px; 
}
#vmMainPageOPC div#payment_html input[type="text"],#vmMainPageOPC div#payment_html select {
 box-sizing: border-box; 
}
#vmMainPageOPC div.formField input[type="text"], #vmMainPageOPC div.formField2 input[type="text"], #vmMainPageOPC div.formField select,#vmMainPageOPC div.formField input[type="password"] {

box-sizing: border-box; 


}
#vmMainPageOPC .vmpayment_cardinfo {
 font-size: 1em; 
}
#vmMainPageOPC div#payment_html tr {
 margin-top: 5px; 
}



div.details-button {
 position: absolute; 
 right: -10px; 
 bottom: 0; 
}
div.input_coupon_div {
 float: left; 
 clear: left; 
 width: auto; 
 position: absolute; 
 bottom: 3px; 
 right: 170px; 
}
div.wrapper_coupon {
 width: 100%; 
 float: left; 
 clear: both; 
 height: 32px; 
 position: relative; 
 
}

/* end custom modifications */


div#vmMainPageOPC div.op_rounded div div div div#registertab, div#vmMainPageOPC div.op_rounded div div div div#logintab {
 margin-top: 0px; 
 padding-top: 20px; 
}

div#vmMainPageOPC fieldset {
  margin: 0; 
  padding: 0; 
  border: none !important; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField2 {
    float: left;
    /*margin: 8px 2px 2px;*/
    vertical-align: middle;
    width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#vmMainPageOPC div.op_col5 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col5 span.opc_PricesalesPrice {
 text-align: left;
}
div#vmMainPageOPC div.op_col7_1 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7_1 span.opc_PricesalesPrice,
div#vmMainPageOPC div.op_col7_2 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7_2 span.opc_PricesalesPrice,
div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice {
 text-align: right;
 float: right;
}

div#vmMainPageOPC h3 span.col-module_header_color {
 margin-left: 15px;
}

div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_r {
  
}


div#vmMainPageOPC  a:hover, div#vmMainPageOPC  a:active, div#vmMainPageOPC  a:focus, div#vmMainPageOPC .op_basket_row a:hover,
div#vmMainPageOPC table a, div#vmMainPageOPC span a ,div#vmMainPageOPC label a {
  text-decoration: underline; 
  background: none; 
  background-color: transparent; 
  outline: none !important;
  color: #fe6f06 !important;
  
}

div#vmMainPageOPC textarea#customer_note_field {
 padding: 3px 3px 3px 3px !important;
}
div#vmMainPageOPC a.deletebtn, div#vmMainPageOPC a.deletebtn:hover {
 background: none;
 background: transparent url('images/remove_from_cart.png') no-repeat top left; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
 margin-top: 8px;
}
#vmMainPageOPC iframe.tos_iframe {
 width: 95%; 
 height: 150px; 
}
#vmMainPageOPC #basket_container input.updatebtn {
background: none;
background: transparent url('images/update_quantity_cart.png') no-repeat top left; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
 border: none; 
 max-width:none;
 margin-top: 8px;
 margin-left:3px;
}

div#vmMainPageOPC  div.loginsection {
 padding-top: 40px; 
}



div#tab_selector {
 margin-top: -19px;
}
div#top_basket_wrapper {
 width: 100%;
 
}

div#vmMainPageOPC table tr td, div#vmMainPageOPC table tr, div#vmMainPageOPC table td {
 border: 0; 
 background: none;
}

div#vmMainPageOPC span#customer_note_input {
 margin-top: 10px;
}
#onepage_main_div h3, div#vmMainPageOPC h3 {
  padding: 0 !important; 
 /*margin: 0 !important; */
 background: none !important;
 /*margin-top: 10px !important;*/
 margin-left: 10px; 
  
}

#onepage_main_div h3 span span span span {
 padding: 0 !important; 
 margin: 0 !important; 
 background: none !important;
 /*margin-top: 10px !important;*/
 margin-left: 10px; 
} 
div#vmMainPageOPC div.op_basket_row div a.continue_link {
 padding: 0; 
 padding-left: 20px;
 margin: 0; 
 background: none;
 background-color: transparent;
}



div#vmMainPageOPC input#coupon_code {
 padding: 0;
 margin-right: 9px;
 width: 200px;
 background: none;
 height: 24px;
 line-height: 24px; 
 
}
/* set the width of the country field select dropdown */
div#vmMainPageOPC div#country_input select#country_field {
 width: 215px;
 max-width: 215px;
}

div#basket_container {
 width: 100%;
 float: left;

}

div#couponcode_field {
 margin-top: 10px; 
 float: right;
 
 float: right; 
 width: 100%; 
 margin-bottom: 15px;
 clear: both; 
}
div#couponcode_field form span {
 
}



div#couponcode_field form input {
 text-align: left;
 margin-left: auto; 
 margin-right: 0; 
 clear: both;
 display: block;
 width: 200px; 
}
#onepage_main_div button {
 background-color: transparent !important;
 border: none !important;
 box-shadow: none !important;
}
button#confirmbtn_button {
 background-color: transparent !important;
 border: none !important;

}
div#couponcode_field form button {
  clear: both;
  float: right;
  background-color: transparent;
  background-color: transparent !important;
  border: none !important;
   box-shadow: none !important;  

}
div#couponcode_field form button span {
 float: none;
}

div#basket_container .black-basket {
 width: 100%;
}
div#basket_container div, div#basket_container div.inside  {
 width: 100%;
}
div#basket_container div div {
 width: 100%;
}
div#basket_container div div div {
 width: 100%;
}
div#basket_container div div div div {
 width: 100%;
}
div#basket_container div div div div div {
 width: 100%;
}
div#basket_container div div div div div div {
 width: 100%;
}


div#onepage_main_div {
 width: 100%;
 margin: 0;
 margin-top: 30px; 
 padding: 0;
 float: left;
}
div#vmMainPageOPC .col-module_header_color {
 font-size: 12px !important;
 font-weight: bold; 
 /*color: #FFD11B;*/
 color: #fe6f06;
}

#basket_container .opc_product_name {
   /*color: #FFD11B;*/
   color: #fe6f06;
   text-decoration: none; 
}


div#vmMainPageOPC .continue_link_ice span {
  /*color: #FFD11B;*/
  color: #fe6f06;
  margin-left: 20px; 
}
div#vmMainPageOPC .op_round span#confirmbtn {
 /* fallback */
	background: url(images/button_bg-input.png) repeat-x center left #ee941b ;
	background: linear-gradient(bottom, rgb(233,233,233) 10%, rgb(248,209,80) 83%);
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ee941b) 10%, to(#f8d150) 83%);

	  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #ee941b 10%, #f8d150 83%);

	  /* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #ee941b 10%, #f8d150 83%);

	  /* IE 10 */
	background: -ms-linear-gradient(bottom, #ee941b 10%, #f8d150 83%);

	  /* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #ee941b 10%, #f8d150 83%);
}
div#vmMainPageOPC .op_round span#confirmbtn:hover {
/* fallback */
	background: url(images/button_bg-hover-orange.png) repeat-x center left #f15b28 ;
	background: linear-gradient(bottom, rgb(241,91,40) 10%, rgb(247,148,34) 83%);
	  /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#f15b28) 10%, to(#f79422) 83%);

	  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #f15b28 10%, #f79422 83%);

	  /* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #f15b28 10%, #f79422 83%);

	  /* IE 10 */
	background: -ms-linear-gradient(bottom, #f15b28 10%, #f79422 83%);

	  /* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #f15b28 10%, #f79422 83%);
 
 border: none; 
 border-color: transparent;
 cursor: pointer;
}
div#vmMainPageOPC button#confirmbtn_button .op_round {
 background-image: none;

}
div#vmMainPageOPC span#confirmbtn {
 text-align: center;
 font-weight: normal;
 padding-left: 5px;
 color: #FFFFFF;
}
span#op_separator {
 background: url(images/separator.png) no-repeat 0 0;
 width: 4px;
 vertical-align: top;
 height: 100%;
 line-height: 100%;
 white-space: wrap;
}
div#basket_container div.op_basket_row div.op_col1 div {
  
 position: relative; 
 top: 0; 
 left: 10px; 
}
div#basket_container div.op_basket_row div.op_col1 {
 width: 10%;
 float: left;
 color: #5f5f5f;
 overflow: visible;
 position: relative; 
}
div#basket_container div.op_basket_row div.op_col2 {
 width: 20%;
 float: left;
    color: #5f5f5f;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col3 {
 width: 10%;
 float: left;
    color: #5f5f5f;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col4 {
 width: 12%;
 float: left;
    /*color: #D9D9D9;*/
  color: #000;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col5 {
 width: 10%;
 float: left;
    color: #5f5f5f;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col6 {
 width: 17%;
 float: left;
    color: #5f5f5f;
 overflow: visible;
}
div#basket_container div.op_basket_row div.op_col6 form {
 float: left;
 clear: none; 
}
div#basket_container div.op_basket_row div.op_col6 form input {
 float: left !important;
}
div#basket_container div.op_basket_row div.op_col7 div.PricesalesPrice {
 text-align: right;
}
div#basket_container div.op_basket_row div.op_col7,
div#basket_container div.op_basket_row div.op_col7_1,
div#basket_container div.op_basket_row div.op_col7_2 {
 width: 10%;
 float: left;
 text-align: right;
    color: #5f5f5f;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col1_4 {
 width: 60%;
 float: left;
 text-align: right;
    color: #5f5f5f;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col5_3 {
 width: 39%;
 float: left;
 text-align: right;
    color: #5f5f5f;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col2_2 {
 width: 30%;
 float: left;
    color: #5f5f5f;
  overflow: visible;
}
div#basket_container div.op_basket_row div.op_col2_3 {
 width: 50%;
float: left;
    color: #5f5f5f;
  overflow: visible;
}
div#onepage_main_div fieldset legend.sectiontableheader {
background: none;
padding: 0;
margin: 0;
border: none;

}
fieldset.op_fieldset strong {
 clear: both !important;
 width; 100%;
}
div#onepage_main_div fieldset.op_fieldset {
background: none !important;
padding: 0 !important;
margin: 0 !important;
border: none !important;
}



#basket_container div div div div div div div div div.op_basket_row {
 float: left;
 min-height: 30px;
 width: 100%;
 clear: both;
 vertical-align: center;
 background: url("images/othermenu_line_gray2.png") no-repeat scroll right bottom transparent;
 min-height: 35px;
 line-height: 35px;
 padding-bottom: 4px;
}
div#vmMainPageOPC .basket_container {
 clear: none; 
 white-space: no-wrap;
 float: left; 
}
span#op_round_and_separator span {
 padding-left: 9px;
}

div#tab_selector button {
 background: none;
 background-color: transparent;
 color: white;
}
div#vmMainPageOPC span#span2 {
 background: none;
 background-color: transparent;
 padding-left: 30px;
}
div#vmMainPageOPC span#span1 {
background: url(images/separator.png) no-repeat left top; 
 padding-left: 0;
 padding-right: 0;
}
div#vmMainPageOPC .op_starttab  {
 background: url(images/button-left.png) no-repeat left top;
 line-height: 27px; 
}
div#vmMainPageOPC .op_tabs {
 margin: 0;
 padding: 0; 
 line-height: 27px; 
}
div#vmMainPageOPC .op_endtab {
background: url(images/button-right.png) no-repeat right top;
line-height: 27px; 
}
div#vmMainPageOPC .coupon {
  
}
button#submit_coupon_button {
 float: right; 
 min-width: 150px;
 clear: both; 
 padding: 0; 
 margin: 0; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#tab_selector {
 height: 30px;
 padding: 0;
 padding-top: -20px;
 padding-left: 0px;
 margin: 0; 
 position: absolute; 
}
 
div#vmMainPageOPC div.loginsection div.op_rounded div div div div div.op_rounded_fix {
 padding-left: 0; 
}

div#vmMainPageOPC table, div#vmMainPageOPC tbody {
 border: none !important; 
 
}
button#op_login_btn {
 position: relative; 
 left: 0%; 
 margin: 0; 
 padding: 0;
 float: none; 
 top: -20px; 
}
button#op_register_btn {
 position: relative;
 float: none; 
 left: 0; 
 top: -20px; 
 margin: 0;
 padding: 0;
 
 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#customer_note_block{
width: 270px;
 float: left;
}
div#vmMainPageOPC div.formField select#title {
 max-width: auto; 
 width: auto; 
}
div#tab_selector button {

}
button#submit_coupon_button .op_round {
 margin: 0;
}
span#span_coupon_button {
 min-width: 150px;
}
span#span_coupon_button span span {
 background: none; 
 padding: 0; 
 margin: 0; 
 margin-right: 20px; 
}
span#span_coupon_button span {
 text-align: center;
 padding-left: 45px; 
 
}

textarea#customer_note_field {
 height: auto;
 width: auto;
 overflow: auto;
}
div#onepage_userfieds {
	width: 100%; 
	float: left;
}
div#onepage_info_above_button {
	text-align: center; 
	margin: auto;
}
div#vmMainPageOPC  div#onepage_total_inc_sh {
 padding-top: 10px;
 width: 100%;
}
div#vmMainPageOPC div#onepage_info_above_button {
 width: 100%;
}
div#vmMainPageOPC div#onepage_info_above_button div div {
 width: 100%;
}
div#onepage_submit_section {
	width: 100%; 
	float: left; 
	padding-top: 30px;
}
input#confirmbtn {
	width: 350px; 
	height: 40px;  
	padding: 20px;
}
div#onepage_login_box {
 padding: 20px; 
 text-align: center; 
 margin-top: 30px;
 margin-right: auto; 
 margin-left: auto; 
 width: 100%; 
}
div#onepage_login {
 text-align: left; 
 padding-left: 35%;
}
textarea#onepage_tos {
width: 100%;
}

div#vmMainPageOPC span.bottom_totals_txt {
width: 50%;
text-align: right;
float: left;
/*padding-left: 40px;*/
padding-left: 0; 
}

div#vmMainPageOPC span.bottom_totals {
/* width: 67%; */
text-align: left;
padding-left: 3%;
float: left;
padding-left: 35px;

}
div#onepage_total_inc_sh {
 width: 350px;
 float: left;
}
div#vmMainPageOPC div#totalam div {
 float: left;
 clear: both;
 width: 100%;
}
span#tt_total_txt {
 font-weight: bold;
}
div#totalam {

width: 350px;
clear: both;
float: left;
margin: 0 auto;
padding-left: 40px;
}

div#vmMainPageOPC br.op_clear {
 clear: both;
}

div#tt_order_subtotal_div {
 width: 100%;
 float: left;
 clear: both;
}
div#tt_order_payment_discount_before_div {
 width: 100%;
 display: none;
 
}

div#tt_order_discount_before_div {
 width: 100%;
 display: none;

}

div#tt_shipping_rate_div {
 width: 100%;
 

}
div#tt_shipping_tax_div {
 width: 100%;
 display: none;

}

div#tt_tax_total_0_div {
 display: none;
width: 100%;
}

div#tt_tax_total_1_div {
 display: none;
width: 100%;
}

div#tt_tax_total_2_div {
 display: none;
width: 100%;
}

div#tt_tax_total_3_div {
 display: none;
width: 100%;
}

div#tt_tax_total_4_div {
 width: 100%;
 display: none;

}

div#tt_order_payment_discount_after_div {
 width: 100%;
 display: none;

}

div#tt_order_discount_after_div {
 width: 100%;
 display: none;

}
span#tt_total {
 color: green;
 font-weight: bold;
}
div#tt_total_div {
 width: 100%;

}

div#logintab .button {
 float: left;
}
div#vmMainPageOPC div.op_col2_2 a strong {
 /*color: #FFD11B;*/
 color: #fe6f06;
}
select#shipping_inside_basket_select {
 font-family: monospace;
}

select#payment_inside_basket {
 font-family: monospace;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div  div#rbsubmit {
/* padding-top: 20px;*/
 vertical-align: bottom;
 text-align: right;
 width: 50%; 
 min-width: 300px; 
 float: right;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div#customer_note_place {
  width: 40%; 
  float: left;
}
div#rbsubmit div {
 padding: 0;
 width: 350px;
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formLabel {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 10px 10px 0 0;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
}
div#vmMainPageOPC div.continue_link_under_basket {
 margin-bottom: 30px; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField {
    float: left;
    /*margin: 8px 2px 2px;*/
    vertical-align: middle;
    width: 100%;
}
div.op_userfields_style_hundred {
 width: 100%; 
}
div.op_userfields_style_other {
  width: 100%; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField input[type="checkbox"], div#vmMainPageOPC  input[type="checkbox"] {
  float: left; 
  clear: left; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField label, div#vmMainPageOPC label {
 clear: right; 
 float: left; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formField {
 margin-top: 10px; 
 width: 75%; 
}


/* CSS  for two column theme, remove this to have single column */
div#vmMainPageOPC div#onepage_main_div div.bill_to_section,div#vmMainPageOPC  div#onepage_main_div div#bill_to_section {
 width: 49%; 
 float: left;
 margin-right: 1%;  
 margin-left: 0; 
 margin-top: 30px; 
 padding-left: 0; 
 padding-right: 0; 
 clear: left; 
}

div#vmMainPageOPC div#onepage_main_div div.shipto_section, div#vmMainPageOPC div#onepage_main_div div.shipping_method_section, div#vmMainPageOPC div#onepage_main_div div.payment_method_section {
  width: 49%; 
 padding-left: 0; 
 padding-right: 0; 

  float: left;
 margin-left: 1%;  
 margin-right: 0; 
 margin-top: 30px; 
 clear: right; 
}
/* end CSS  for two column theme, remove this to have single column */
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formLabel {
 width: auto; 
 margin: 0; 
 margin-top: 10px; 
}
/* rounded corners Felix */
div#vmMainPageOPC div.op_inside {
    /*margin-bottom: -20px;*/
/*    margin-top: -15px; */
    margin-top: 0px; 
/*    padding-top: 15px;  */
    float: left;
    margin-right: 0; 
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;	 
    padding-bottom: 5px;
    padding-top: 20px;
	margin-bottom: -15px; 
}

div#vmMainPageOPC div.op_rounded_content div div {
 padding-top: 20px;

}
div#vmMainPageOPC .checkoutarea {
    background: none repeat scroll 0 0 transparent !important;
    border: none !important;
	margin: 0 !important;    
    padding: 10px 0 !important;
    width: 100% !important;
    float: left !important;
    clear: both;
}

div#vmMainPageOPC div.op_rounded {
    background: url("images/col-module_br.png") no-repeat scroll right bottom transparent;
    margin: 0 0 30px;
    overflow: visible;
    float: left;
    width: 100%;
    
}

#onepage_main_div button {
 background: none;
 background-color: transparent;
 border: medium none;
 cursor: pointer;
 overflow: visible;
 padding: 0 2px;
 white-space: nowrap;
 width; auto;
}
div#vmMainPageOPC button:hover .op_round {
 background-position: right bottom;
 color: #FFFFFF;
}
div#vmMainPageOPC button:hover .op_round span {
 background-position: left bottom;
}


#onepage_main_div .op_round:hover {
 background-position: right bottom;
 color: #FFFFFF;
}
#onepage_main_div .op_round:hover span {
 background-position: left bottom;
}
#onepage_main_div strong {
 text-decoration: none !important;
}
div#vmMainPageOPC .op_basket_row a {
 text-decoration: none;
}
#onepage_main_div button span span {
 /*background: none;*/
 
 text-align: center;
}
#onepage_main_div #confirmbtn_button span span {
 text-indent: 0;
 text-align: center;
}
div#vmMainPageOPC .op_round {
 	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: #fff;
	background-position: right top;
	background-repeat: no-repeat;
	color: #FFFFFF;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	line-height: 27px;
	padding-right: 15px;
	text-decoration: none;
	vertical-align: middle;
	margin: 0;
	margin-right: 10px;
	padding: 5px 5px;
}
div#vmMainPageOPC .op_round span:hover{
	background:#cccccc;
	color:#000000 !important;
	width:150px;
}

div#vmMainPageOPC   .op_round span {
 background: url(images/button_bg-input.png) repeat-x center left #CCCCCC;
	background: linear-gradient(bottom, rgb(204,204,204) 10%, rgb(228,228,228) 83%);
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#CCCCCC) 10%, to(#E4E4E4) 83%);

	  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);

	  /* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);

	  /* IE 10 */
	background: -ms-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);

	  /* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);
	height: 20px;
	min-height:20px;
	display: block;
	margin: 0;
	padding:0;
	width:150px;
}
div#vmMainPageOPC .inspan {
line-height: 20px;
color: #313030;
}

div#vmMainPageOPC div.op_rounded div {
    background: url("images/col-module_bl.png") no-repeat scroll left bottom transparent;
    padding-top: 20px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div {
    background: url("images/col-module_tr.png") no-repeat scroll right top transparent;
        padding-top: 20px;
}
div#vmMainPageOPC div.op_rounded div div div {
    background: url("images/col-module_tl.png") no-repeat scroll left top transparent;
        padding-top: 0px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div div div {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0px;
    margin: 0;
	margin-top: 0px;
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix {
    clear: both;
    overflow: visible;
    padding: 9px 10px;
    /*position: relative;*/
    /*min-height: 200px; */
   
    
}
div#vmMainPageOPC div.op_rounded_content div {
    
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix > div {
 clear: none;
 position: static;
 padding-left: 10px;
 width: 95%;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix > div > div {
 clear: none;
 position: static;
 padding: 0;
 width: auto;
}


div#vmMainPageOPC div.op_rounded h3, div.op_rounded_fix  h3{
    color: #555555;
    display: inline-block;
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_r, div#vmMainPageOPC div.op_rounded h3 span.col-module_header_l, div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    display: inline-block;
    height: 43px;
    line-height: 31px;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    padding: 0 15px;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_r {
    background: url("images/col-module_header_r.png") no-repeat scroll right center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_l {
    background: url("images/col-module_header_l.png") no-repeat scroll left center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    background: url("images/col-module_header_arrow.png") no-repeat scroll center bottom transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_color {
    color: #015A80;
}
div#vmMainPageOPC div.op_rounded .op_rounded_content {
    margin-top: 0px;
    text-align: left;
    padding: 0;
}

div#vmMainPageOPC div.op_rounded {
    margin-right: 10px;
}

div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_r {
    background: url("images/col-module_grey_header_r.png") no-repeat scroll right center transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_l {
    background: url("images/col-module_grey_header_l.png") no-repeat scroll left center transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_arrow {
    background: url("images/col-module_grey_header_arrow.png") no-repeat scroll center bottom transparent;
}
div #dfsfsfsfs {
	/* fallback */
	background: url(images/button_bg-input.png) repeat-x center left #CCCCCC;
	background: linear-gradient(bottom, rgb(204,204,204) 10%, rgb(228,228,228) 83%);
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#CCCCCC) 10%, to(#E4E4E4) 83%);

	  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);

	  /* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);

	  /* IE 10 */
	background: -ms-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);

	  /* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);
	
	background: -webkit-linear-gradient(bottom, #CCCCCC 10%, #E4E4E4 83%);
	height: 30px;
	border-radius: 5px;
	}
div#vmMainPageOPC div.op_rounded_fix h3 {
    color: #eaeaea;
	font-family: Arial;
	position: relative; 
	/*
	top: -20px; 
	margin-bottom: -20px; 
	*/
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_color {
    color: #5f5f5f; 
}
button#confirmbtn {
 top: 100px;
}

div#vmMainPageOPC div.black-basket {
    /*background: url("images/colmodule_style1_br.png") no-repeat scroll right bottom transparent;*/
    /* fallback */
	background: url(images/button_bg-input.png) repeat-x center left #eaeaea;
	background: linear-gradient(bottom, rgb(234,234,234) 10%, rgb(248,248,248) 83%);
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#eaeaea) 10%, to(#f8f8f8) 83%);

	  /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #eaeaea 10%, #f8f8f8 83%);

	  /* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #eaeaea 10%, #f8f8f8 83%);

	  /* IE 10 */
	background: -ms-linear-gradient(bottom, #eaeaea 10%, #f8f8f8 83%);

	  /* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #eaeaea 10%, #f8f8f8 83%);
	
	background: -webkit-linear-gradient(bottom, #eaeaea 10%, #f8f8f8 83%);
	
	border-radius: 10px;
	border:1px solid #cccccc;
	margin: 0px 0 10px;
}
#basket_container .black-basket div {
   /* background: url("images/colmodule_style1_bl.png") no-repeat scroll left bottom transparent;*/
}
#basket_container .black-basket div div {
    /*background: url("images/colmodule_style1_tr.png") no-repeat scroll right top transparent;*/
}
#basket_container .black-basket div div div {
    /*background: url("images/colmodule_style1_tl.png") no-repeat scroll left top transparent;*/
}
#basket_container .black-basket div div div div {
    background: none repeat scroll 0 0 transparent;
}
#basket_container .black-basket div.col-module_fix {
    clear: both;
    overflow: visible;
    padding: 0;
    position: relative;
}
#basket_container .black-basket h3 span {
    background: none repeat scroll 0 0 transparent !important;
    display: inline !important;
    height: auto !important;
    line-height: normal !important;
    padding: 0 !important;
}
#basket_container .black-basket h3 {
    background: url("images/colmodule_style1_header.png") repeat-x scroll left bottom transparent;
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
    margin: 5px 10px 7px;
    padding: 10px 0 8px;
}
#basket_container .black-basket h3 span.col-module_header_color {
    /*color: #FFFFFF;*/
}
#basket_container .black-basket .col-module_content {
    color: #D9D9D9;
	float: left;
	width: 99%;
/*    padding: 0 12px 12px; */
}
#basket_container .black-basket .col-module_content div.op_basket_row {
}
#basket_container img.browseProductImage 
{
 margin-left: 4px;
}
#basket_container .black-basket {
    margin-right: 0px;
	margin-left: 0px;
}

#basket_container tr {
    /* background: url("images/othermenu_line.png") no-repeat scroll right bottom transparent; */
    border-bottom: 0.2px dotted #999999;
    color: #999999;
    font-size: 1em;
    height: 29px;
    line-height: 29px;
    padding: 0;
    position: relative;
    text-decoration: none;
}
#basket_container tr td {
 background: none;
}
div#vmMainPageOPC tbody {display:block; display:table-row-group;} /* IE and FF */
div#vmMainPageOPC table { empty-cells:show; }


/* address listing */
div#vmMainPageOPC div#staddresses div.op_field_name {
  width:40%; 
  float: left;
  margin: 0; 
  padding: 0; 
}
div#staddresses div.op_field_value {
 
 float: left; 
 clear: right; 
 margin:0; 
 padding:0;
 width:60%; 
}

div#staddresses div.op_radiowrapper {
 width: 10%; 
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 float: left; 
 clear: left; 
}

div#staddresses div.op_labelwrapper {
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 width: 90%; 
 float: left; 

 clear: right;  
}


div#vmMainPageOPC select {
  max-width: 100%; 
}
div.right_column_ice {
  width: 50%; 
  float: left;
}

div.st_min_height {
   width: 100%; 
   min-height: auto;
}
div#vmMainPageOPC div#ajaxshipping input, div#vmMainPageOPC div#payment_html input {
 clear: left; 
 float: left; 
 
 line-height: auto; 
}
div#vmMainPageOPC div#ajaxshipping input[type="radio"], div#vmMainPageOPC div#payment_html input[type="radio"] {
/*  max-width: 5%; */
}
div#vmMainPageOPC div#ajaxshipping input[type="text"], div#vmMainPageOPC div#payment_html input[type="text"], div#vmMainPageOPC div#payment_html select 
{
 
}
div#vmMainPageOPC div.formField2 input[type="text"],div#vmMainPageOPC div.formField input[type="text"],div#vmMainPageOPC div.formField select, input#opc_password_field, input#opc_password2_field {
width: 92%; 
max-width: 220px; 
margin-bottom: 2px; 

} 
div#vmMainPageOPC div#ajaxshipping input[type="text"], div#vmMainPageOPC div#payment_html input[type="text"], div#vmMainPageOPC div#ajaxshipping select, div#vmMainPageOPC div#payment_html select
{
  max-width: 140px; 
}
div#vmMainPageOPC div#ajaxshipping br, div#vmMainPageOPC div#payment_html br {
 display: none; 
}
div#vmMainPageOPC div#ajaxshipping .zasilkovina_output br {
 display: block; 
}

div#vmMainPageOPC div#ajaxshipping label, div#vmMainPageOPC div#payment_html label, div#agreed_div label {
 clear: right; 
 width: 95%; 
 margin: 0; 
 line-height: auto; 
 display: block; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div#agreed_div {
 width: 100%; 
 clear: both; 
 text-align: left; 
 
}

input#agreed_field {
 margin-top: 0px; 
}
div#basket_container input {
 max-width: 15%; 
}
span.vmpayment_cardinfo {
 clear: both;
 float: left;
}

a.deletebtn, input.inputbox_update, input.updatebtn {
 
 clear: none; 
 float: left; 
}
input.inputbox {
 
}

div#basket_container input.inputbox_update {
 max-width: 40px !important; 
 margin-top: 5px;
}

@media screen and (min-width: 100px) and (max-width: 700px) {
div#vmMainPageOPC {
 margin-left: auto; 
 margin-right: auto;
 
}
div#vmMainPageOPC div.op_rounded {
 margin-left:0;
 
}
div.input_coupon_div {
 right:auto;
 float: right;
 right: 170px; 
 bottom:5px;
 min-width:auto;
 }
div#vmMainPageOPC input#coupon_code {
 width:auto;
}
div.details-button, div.details-button button {
 bottom:auto;
} 
div#vmMainPageOPC div#onepage_info_above_button {
 padding-left:2%;
 position:relative;
 
 }
div#vmMainPageOPC div#onepage_total_inc_sh {
 display:none;
}

div#basket_container div.op_basket_row div.op_col1, div#basket_container div.op_basket_row div.op_col4, div#basket_container div.op_basket_row div.op_col5 {
  display: none; 
}
div#basket_container div.op_basket_header div.op_col6, div#basket_container div.op_basket_header div.op_col7_1, div#basket_container div.op_basket_header div.op_col3 {
  display: none; 
}
div#basket_container div.op_basket_row div.op_col2 {
 width: 79%; 
}
div#basket_container div.op_basket_header {
 position: relative; 
}
div#basket_container div.op_basket_row div.op_col6 {
 
  width:31%;
  position: absolute; 
  min-width: 200px; 
  max-width: 31%; 
  left: 35%;
}

div#payment_html select {
 max-width: 100px; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#tab_selector {
 position: relative; 
 width: 100%; 
}
div#tab_selector button#op_login_btn {
 position: absolute; 
 top: 0; 
 left: 0; 
}

div#tab_selector button#op_register_btn {
  position: absolute; 
  top: 0; 
  
  left: 50%; 
}
div#payment_html input[type="text"], div#payment_html select {
 width: 150px; 
 max-width: 80%; 
}
div#vmMainPageOPC div#ajaxshipping label, div#vmMainPageOPC div#payment_html label, div#agreed_div label {
 max-width: 80%; 
}
div.wrapper_coupon {
 max-width: 100%; 
}
div.input_coupon_div, div.details-button {
 width: 100%; 
 clear: both; 
 float: left; 
 position: static; 
 left: auto; right: auto; 
}
div#couponcode_field form button#submit_coupon_button {
 float: left; 
}

div#basket_container div.op_basket_row div.op_col7_2 {
   
   width:28%;
  position: absolute; 
  margin-right: 3%; 
  max-width: 30%; 
  left: 70%;


}

div#basket_container div.op_basket_row div.op_col7_1 {
 display: none; 
}
div#basket_container div.op_basket_row div.op_col2_2, div.op_col2 {
 margin-left: 5%; 
}
div#basket_container div.vm-customfield-cart span {
 width: 100%; 
}


#vmMainPageOPC  div.left_column_ice {
 width: 100% !important; 
 padding-left: 0 !important; 
}
div#vmMainPageOPC select {
 max-width: 95%; 
}
#vmMainPageOPC  div.right_column_ice {
  width: 100%; 
  float: left;
}



div#basket_container div.op_basket_row div.op_col7 {
 float: right; 
 position: relative; 
 width: 27%; 
 padding-right:5px;
}


div#vmMainPageOPC div#ajaxshipping span.hasTip, div#vmMainPageOPC div#payment_html span.hasTip {
  float: left; 
  clear: both; 
  
}



div.st_min_height {
   width: 100%; 
   min-height: auto;
}
#onepage_main_div div#confirmbtn_area{
	float:left;
	clear: both;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div  div#rbsubmit {
 padding-top: 0px;
 vertical-align: bottom;
 text-align: right;
 width: 100%; 
 float: left;
 clear: both; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div#customer_note_place {
  width: 100%; 
  float: left;
}

/* end CSS  for two column theme but modified for table */
div#vmMainPageOPC div#onepage_main_div div.bill_to_section,div#vmMainPageOPC  div#onepage_main_div div#bill_to_section {
 width: 100%; 
 float: left;
 margin-right: 0%;  
 margin-left: 0; 
 padding-left: 0; 
 padding-right: 0; 
 clear: both; 
}

div#vmMainPageOPC div#onepage_main_div div.shipto_section, div#vmMainPageOPC div#onepage_main_div div.shipping_method_section, div#vmMainPageOPC div#onepage_main_div div.payment_method_section {
  width: 100%; 
 padding-left: 0; 
 padding-right: 0; 

  float: left;
 margin-left: 0%;  
 margin-right: 0; 
 clear: both; 
}


/* end CSS  for two column theme but modified for table */



}
div#opc_vat_input br {
 width: 100%; 
 clear: both; 
}