div#vmMainPageOPC {
 margin-left: 30px; 
 margin-right: auto;
 
}
div#vmMainPageOPC input, div#vmMainPageOPC select {
float: right;
}
div#vmMainPageOPC input#coupon_code {
 float: right; 

}
div.details-button, div.details-button button {
 position:relative;
 right:auto;
 left: 10px;
}

div.input_coupon_div {
 right:auto;
 float: right;
 left: 210px; 
 bottom:5px;
}
div.wrapper_coupon {
 width: 100%; 
 float: right; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField2 {
    float: right; 
   
}

div#vmMainPageOPC div.op_col5 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col5 span.opc_PricesalesPrice {
 text-align: right;
}
div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice {
 text-align: right;
 float: left;
}

div#vmMainPageOPC h3 span.col-module_header_color {
 margin-right: 15px;
}


div#vmMainPageOPC a.deletebtn, div#vmMainPageOPC a.deletebtn:hover {
 background: none;
 background: transparent url('images/remove_from_cart.png') no-repeat top right; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
}

#vmMainPageOPC input.updatebtn {
background: transparent url('images/update_quantity_cart.png') no-repeat top right; 

}

#onepage_main_div h3, div#vmMainPageOPC h3 {
  padding: 0 !important; 
 /*margin: 0 !important; */
 background: none !important;
 /*margin-top: 10px !important;*/
 margin-left: 10px; 
  
}

#onepage_main_div h3 span span span span {
 margin-right: 10px; 
} 

div#vmMainPageOPC div.op_basket_row div a.continue_link {
 padding-right: 20px;
}

div#vmMainPageOPC input#coupon_code {
 margin-right: 9px;
 
}

div#basket_container {
 width: 100%;
 float: right;
}

div#couponcode_field {
 margin-top: 10px; 
 float: right;
 
 float: right; 
 width: 100%; 
 margin-bottom: 15px;
 clear: both; 
}

div#couponcode_field form input {
 text-align: right;
 margin-left: 0; 
 margin-right: auto; 
 clear: both;

}


div#couponcode_field form button {
  clear: both;
  float: right;
  background-color: transparent;
  background-color: transparent !important;
  border: none !important;
   box-shadow: none !important;  

}

div#onepage_main_div {
 float: right;
}
 


div#vmMainPageOPC span#confirmbtn {
 
 padding-left: 20px;

}





div#basket_container div.op_basket_row div.op_col1 div {
  
 position: relative; 
 top: 0; 
 right: 10px; 
}
div#basket_container div.op_basket_row div.op_col1 {
 float: right;

}
div#basket_container div.op_basket_row div.op_col2 {
 float: right;
 
}
div#basket_container div.op_basket_row div.op_col3 {
 float: right;
 }
 
div#basket_container div.op_basket_row div.op_col4 {
 float: right;
 }
 
div#basket_container div.op_basket_row div.op_col5 {
float: right;
 
}
div#basket_container div.op_basket_row div.op_col6 {
 float: right;
 }
div#basket_container div.op_basket_row div.op_col6 form {
 float: right;
 }
div#basket_container div.op_basket_row div.op_col6 form input {
 float: right !important;
}
div#basket_container div.op_basket_row div.op_col7 div.PricesalesPrice {
 text-align: right;
}

div#basket_container div.op_basket_row div.op_col7 {
 float: right;
 }
div#basket_container div.op_basket_row div.op_col1_4 {
 float: right;
 text-align: left;
}
div#basket_container div.op_basket_row div.op_col5_3 {
 float: right;
 text-align: left;
}
div#basket_container div.op_basket_row div.op_col2_2 {
 float: right;
 
  
}
div#basket_container div.op_basket_row div.op_col2_3 {
float: right;
 }



#basket_container div div div div div div div div div.op_basket_row {
 background: url("images/othermenu_line_left.png") no-repeat scroll left bottom transparent;
 float: right;
 }
div#vmMainPageOPC .basket_container {
  float: right;
}

div#vmMainPageOPC .op_starttab  {
 background: url(images/button-left.png) no-repeat left top;
 line-height: 27px; 
}
div#vmMainPageOPC .op_tabs {
 margin: 0;
 padding: 0; 
 line-height: 27px; 
}
div#vmMainPageOPC .op_endtab {
background: url(images/button-right.png) no-repeat right top;
line-height: 27px; 
}
div#vmMainPageOPC .coupon {
  
}
button#submit_coupon_button {
 float: right; 
}

div#tab_selector button {

}

span#span_coupon_button span {
 text-align: center;
 padding-left: 45px; 
 
}


div#onepage_userfieds {
	width: 100%; 
	float: right;
}
div#onepage_info_above_button {
	text-align: center; 
	margin: auto;
}
div#vmMainPageOPC  div#onepage_total_inc_sh {
 padding-top: 10px;
}

div#onepage_submit_section {
	width: 100%; 
	float: right;
	padding-top: 30px;
}

div#onepage_login {
 text-align: right;
 padding-left: 35%;
}


div#vmMainPageOPC span.bottom_totals_txt {
width: 30%;
text-align: left;
float: right;
padding-left: 40px;
}

div#vmMainPageOPC span.bottom_totals {
/* width: 67%; */
text-align: right;
padding-left: 3%;
float: right;
padding-left: 35px;

}
div#onepage_total_inc_sh {
 float: right;
}
div#vmMainPageOPC div#totalam div {
 float: right;
}

div#totalam {
float: right;
}

div#tt_order_subtotal_div {
 width: 100%;
 float: right;
 clear: both;
}

div#logintab .button {
 float: right;
}
div#vmMainPageOPC textarea#customer_note_field {
float: right;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div  div#rbsubmit {
 padding-top: 20px;
 vertical-align: bottom;
 text-align: right;
 width: 40%; 
 min-width: 300px; 
 float: left;
}

div.op_col7_1 {
 display: none; 
}

div.op_col7_2 > div > span, div#vmMainPageOPC div.op_col7_1 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7_1 span.opc_PricesalesPrice, div#vmMainPageOPC div.op_col7_2 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7_2 span.opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice {
 text-align: left; 
 float: left; 
 margin-left: 5px; 
 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#customer_note_block {
 float: right; 
}


div#vmMainPageOPC div#onepage_info_above_button div.agree_top_wrapper div.agreed_input_wrapper, div#vmMainPageOPC div#onepage_info_above_button div.agree_top_wrapper div.agreed_input_wrapper input  {
 float: right; 
 clear: right; 
}
div#vmMainPageOPC div#onepage_info_above_button div.agree_top_wrapper div.agreed_label_wrapper {
 float: right; 
 clear: left; 
}

div#vmMainPageOPC div#onepage_main_div div.shipto_section, div#vmMainPageOPC div#onepage_main_div div.shipping_method_section, div#vmMainPageOPC div#onepage_main_div div.payment_method_section {
  width: 49%;
padding-left: 0;
padding-right: 0;
float: right;
margin-left: 0%;
margin-right: 1%;
margin-top: 30px;
clear: left;
}

div#vmMainPageOPC div#onepage_main_div div.bill_to_section,div#vmMainPageOPC  div#onepage_main_div div#bill_to_section {
 width: 49%; 
 float: right;
 margin-right: 0%;  
 margin-left: 1%; 
 margin-top: 30px; 
 padding-left: 0; 
 padding-right: 0; 
 clear: right; 
}
div#vmMainPageOPC div.op_inside {
    /*margin-bottom: -20px;*/
/*    margin-top: -15px; */
    margin-top: 0px; 
/*    padding-top: 15px;  */
    float: right;
    margin-right: 0; 
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;	 
    padding-bottom: 5px;
    padding-top: 20px;
	margin-bottom: -15px; 
}

div#vmMainPageOPC div#ajaxshipping input, div#vmMainPageOPC div#payment_html input {
 clear: right; 
 float: right;
 
 line-height: auto; 
}
div#vmMainPageOPC div#ajaxshipping label, div#vmMainPageOPC div#payment_html label, div#agreed_div label {
 clear: left; 
 width: 95%; 
 margin: 0; 
 line-height: auto; 
 display: block; 
 text-align: right;
}
span.vmpayment_cardinfo {
 clear: both;
 float: right;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField input[type="checkbox"], div#vmMainPageOPC  input[type="checkbox"] {
  clear: right; 
  float: right; 
  
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField label, div#vmMainPageOPC label {
   clear: left;
   float: right;
 

}


div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formField {
 margin-top: 10px; 
 width: 75%; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formLabel {
 width: auto; 
 margin: 0; 
 margin-top: 10px; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formLabel {
 float: right; 
}
div#vmMainPageOPC div#agreed_div div.agree_top_wrapper, div#vmMainPageOPC .agree_top_wrapper label > span {
 text-align: right; 
 float: right; 
}
div.right_column_ice {
 padding-right: 2%; 
}
div.left_column_ice {
 padding-right: 0 !important; 
}
div.right_column_ice, div.left_column_ice {
 float: right; 
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formLabel {
 float: right; 
}

#opc_logged_wrapper .delivery_section_wrapper  {
 width: 100% !important; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div#customer_note_place {
 float: right; 
}

div#vmMainPageOPC div.op_rounded .op_rounded_content {
 text-align: right; 
}

div#vmMainPageOPC div.op_rounded .op_rounded_content legend {
 text-align: right; 
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div#registertab div.formField {
 float: right; 
}
button#confirmbtn_button {
 margin-left: 20px; 
}