/*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/

/* your either need to set the div floating to none or to left */
div.inside {
 float: left; 
 min-height: 0 !important; 
}

div#vmMainPageOPC *, div#vmMainPageOPC *:before, div#vmMainPageOPC *:after
{
 background-image: none; 
 -webkit-box-sizing: content-box;
 box-sizing: content-box;
  
 
}

#vmMainPageOPC div#opc_unlogged_wrapper div.op_basket_row  .product-field-display > select, #vmMainPageOPC div#opc_logged_wrapper div.op_basket_row  .product-field-display > select {
 max-width: 200px; 
 border: 1px solid #ddd; 
}

#vmMainPageOPC input.opc_euvat_button, #vmMainPageOPC input.opc_euvat_button:active, #vmMainPageOPC  input.opc_euvat_button:focus,
#vmMainPageOPC input.opc_euvat_button {
 margin-top: 5px !important;
 background: #ddd !important;
 border: 1px solid #ccc !important;
 width: 90% !important; 
}

#vmMainPageOPC span.vat_info {
 float: left; 
 clear: both; 
}

#vmMainPageOPC div#opc_vat_input div.middle_input {
 background-color: transparent; 
 
}

#vmMainPageOPC div.fullwidth {
 width: 100%; 
 clear: both; 
 float: left; 
 padding: 0; 
 margin: 0; 
}

#vmMainPageOPC div.left_checkbox {
  width: 10%; 
  float: left; 
  clear: left; 
  
}

#vmMainPageOPC div.right_label {
 min-width: 80%; 
 width: 90%; 
 text-align: left; 
 float: left; 
 clear: right; 
}


#vmMainPageOPC a:hover, #vmMainPageOPC a:focus {
 color: #005580 !important; 
 background: none !important; 
}

#vmMainPageOPC #ajaxshipping {
 display: inline-block; 
 float: left; 
 clear: both; 
 width: 100%; 
 min-height: 30px; 
}

div#payment_html select, div#payment_extra_outside_basket select {
 max-width: 100px; 
}
div#payment_html select#opcPaymentSelect, div#ajaxshipping select#opcShippingSelect  {
 max-width: 95%; 
}
#vmMainPageOPC div.op_basket_row select#opcPaymentSelect, #vmMainPageOPC div.op_basket_row select#opcPaymentSelect:active, #vmMainPageOPC div.op_basket_row select#opcPaymentSelect:focus, #vmMainPageOPC div.op_basket_row select#opcShippingSelect:focus, #vmMainPageOPC div.op_basket_row select#opcShippingSelect
 {
 max-width: 250px; 
 border: 1px solid #ddd; 
}

input#register_account {
 
}

#vmMainPageOPC label.radio {
 margin-top: 0px; 
 padding-top: 0px; 
}



#vmMainPageOPC span.vmpayment_description {
 float: left; 
 clear: both; 
 font-size: 12px; 
 color: #4f41c2;
 
}
/*fix drop downs*/
#vmMainPageOPC div.select label.label_selects {
 position: relative; 
 left: 0; 
 top: 0; 
 width: 100%; 
 display: block; 
}

#vmMainPageOPC div#opc_unlogged_wrapper select {
  line-height: 1.5; 
  height: 25px; 
  padding: 0; 
  margin: 0; 
  display: block; 
  -webkit-border: none; 
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  border-radius: 0;
  border: none; 
  position:absolute;  
  
}
#vmMainPageOPC div#opc_logged_wrapper select {
  line-height: 1.5; 
  height: 25px; 
  padding: 0; 
  margin: 0; 
  display: block; 
  -webkit-border: none; 
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  border-radius: 0;
  border: none; 
  position:absolute;  
  
}
#vmMainPageOPC select.multidrop, #vmMainPageOPC select.multidrop:active, #vmMainPageOPC select.multidrop:focus, #vmMainPageOPC select.multidrop {
  height: auto; 
  background-color: white; 
  line-height: 1em;
  width: 96%; 
  margin-left: 1%; 
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C2C0C0;
  position: relative;
  color: #666666;
  
  
}

div#vmMainPageOPC {
 float: left; 
 clear: both; 
 position: relative; 
 width: 100%; 
 display: inline; 
 background-color: transparent; 
}
div#vmMainPageOPC div.inside {
 margin: 0 !important; 
 padding: 0 !important; 
 outline-color: transparent; 
 outline: none; 
 
}
#vmMainPageOPC br.end_br {
 clear: both; 
 float: left; 
}
/* basket formatting start */
#vmMainPageOPC div#top_basket_wrapper {
 width: 100%;
 float: none; 
 clear: both;
}
div#vmMainPageOPC div#socialNumber_input {
 width: 100%; 
 position: relative; 
 clear: both; 
 height: 25px; 
 
}
div#vmMainPageOPC div#socialNumber_input span {
 display: none; 
}
div#vmMainPageOPC div#socialNumber_input div.middle_input {
 left: 7px; 
 top: 0; 
 position: absolute; 
 
}

#vmMainPageOPC div#socialNumber_input input[type="button"] {
  position: absolute; 
  left: 55%; 
  background-color: #809FB6;
  border-radius: 2px; 
  color: white; 
  height: 25px; 
  width: 45%;
  z-index: 99; 
  
  
}
#vmMainPageOPC .invalid
{
 background-color: #FFFF00 !important; 
 color: #333 !important;
 border-color: transparent !important;
}
#vmMainPageOPC div#socialNumber_input input[type="button"]:focus {
  
  
  background-color: #1677c1;
  
}

#vmMainPageOPC input#socialNumber_field {
 
}
/*
#vmMainPageOPC #opc_unlogged_wrapper input[type="text"], #vmMainPageOPC #opc_unlogged_wrapper input[type="text"]:active, #vmMainPageOPC #opc_unlogged_wrapper input[type="text"]:focus
{
  background: none;
  color: #333;
  box-shadow:none;
  width:100%;
}
*/


#vmMainPageOPC  #opc_unlogged_wrapper table{
	/*margin-left: -5px;*/
	margin-left: 0px;
}
#vmMainPageOPC #opc_logged_wrapper input[type="text"], #vmMainPageOPC #opc_logged_wrapper input[type="text"]:active, #vmMainPageOPC #opc_logged_wrapper input[type="text"]:focus,
#vmMainPageOPC #opc_logged_wrapper input[type="email"], #vmMainPageOPC #opc_logged_wrapper input[type="email"]:active, #vmMainPageOPC #opc_logged_wrapper input[type="email"]:focus,
{
  background: none;
  color: #333;
  box-shadow:none;
  width:100%;
}


#vmMainPageOPC  #opc_logged_wrapper table{
/*	margin-left: -5px;*/
}

#vmMainPageOPC div#bottom_footer_shadow {
 margin-top: 50px;
}
/*
div#vmMainPageOPC select {
  background: none;
  background-color: transparent;
  border: 0px none;
}
*/

#vmMainPageOPC div#vmMainPageOPC * {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
 
}
 div#vmMainPageOPC {
  margin: 0; 
  padding: 0; 

}
 div#vmMainPageOPC fieldset {
  margin: 0; 
  padding: 0; 
  border: none; 
  -webkit-margin: none; 
  -webkit-padding: none; 
  border: none; 
  border-color: transparent; 
  
}
#vmMainPageOPC .opc_PricesalesPrice {
 text-align: right;
}
#vmMainPageOPC iframe.tos_iframe {
 width: 95%; 
 height: 150px; 
 margin-bottom: 5px; 
 float:left;
 background-color: #ffffff;
}

div#vmMainPageOPC div.userradio input, div#vmMainPageOPC div.userradio label {
  width: auto; 
  height: auto;
  float:left;
  margin-right: 5px;
}

div#vmMainPageOPC div.usercheckbox input, div#vmMainPageOPC div.usercheckbox label {
  width: auto; 
  height: auto;
}
div#vmMainPageOPC div.usercheckbox input {
 clear: left;
}

div#ui-datepicker-div {
 z-index: 9999 !important;
}

#vmMainPageOPC a.deletebtn, #vmMainPageOPC a.deletebtn:hover {
 background: none;
 background: transparent url('images/remove_from_cart.png') no-repeat top left !important; 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
 text-decoration: none !important; 
}

#vmMainPageOPC div#basket_container  input.updatebtn {
background: none;
border: 0px none !important; 
background: transparent url('images/update_quantity_cart.png') no-repeat top left !important; 
 display: inline-block; 
 
 width: 20px; 
 height: 20px; 

 padding: 2px !important; 
}


#vmMainPageOPC input.styled {
 
}

div.isectiontableentry2 label,div.isectiontableentry1 label {
 float: right;
}
#vmMainPageOPC .dob1 {
    padding-bottom: 20px; 
	padding-left: 1px;
	background-color: #e2f4fd;
	position: relative;
	left: 0% !important; 
	top: 0;
	width: 32% !important; 
	
	margin: 0px;
    outline:none;
    border:1px solid #00adee;
    min-height: 397px;
	float: left;
        
}
#vmMainPageOPC .address_field_name,#vmMainPageOPC  .op_field_name {
float: left; nowrap: nowrap; width: 30%; text-align: right; margin:0; padding:0; 
}
#vmMainPageOPC  .address_field_value, #vmMainPageOPC .op_field_value {
 float: right; clear: right; width: 65%; margin:0; padding:0;
}
#vmMainPageOPC  div.dob0 {
	background-color: #fff;
	width: 100% !important; 
	
	float: left; 
	clear: both;
    position: relative;
	overflow: visible;
}
#vmMainPageOPC.dob0 div.op_inner {
 padding: 3px 3px 3px 3px !important;  
}
#vmMainPageOPC .dob2 {

	background-color: #e2f4fd;
	position: relative;
	left: 1% !important; 
	width: 32% !important; 
	top: 0;
    border:1px solid #00adee;
    min-height: 397px;
	float: left;
	padding-left: 1px;
	padding-bottom: 20px;
}
#vmMainPageOPCinput {
 border: none !important;
}

 
#vmMainPageOPC .dob3 {
	background-color: #e2f4fd;
    border:1px solid #00adee;
    min-height: 397px;

	position: relative;
        left: 2% !important; 
	width: 32% !important; 
	top: 0;
	 min-height: 397px;
	float: left;
	padding-left: 1px;
	padding-bottom: 20px; 
}
#vmMainPageOPCdiv.bottom_button {
   -webkit-box-sizing: content-box;
 box-sizing: content-box;
  

  width: 100%;
  bottom: 0; 
}
#vmMainPageOPC.dob3 .op_inner {

	height: 320px;
	

   
}
#vmMainPageOPC .op_radiowrapper {
 width: 10%; 
 float: left; 
 clear: left; 
 margin: 0; 
 padding: 0; 
 margin-top: 5px; 
 margin-bottom: auto; 
 }
#vmMainPageOPC .op_labelwrapper {
 width: 89%; 
 float: left; 
 clear: right; 
 margin: 0; 
 padding: 0; 
}

#vmMainPageOPC input#coupon_code {
}
#vmMainPageOPC div#payment_info {
 text-align: center; 
 margin-left: auto; 
 margin-right: auto;
}
#vmMainPageOPC textarea#customer_note_field, #vmMainPageOPC textarea {
 width: 93%;
 padding: 3px !important; 
}
#vmMainPageOPC div.coupon_input_section {
 width: 210px; 
 float: right; 
 /*margin-right: -5px;*/
 clear: both;
 vertical-align: middle;
}

#vmMainPageOPC div.coupon_input_section div.middle_input {
 width: 200px; 
}
#vmMainPageOPC div.coupon_input_section div.after_input {
 position: absolute; 
 right: 0; 
 top: 0; 
}


#vmMainPageOPC div.op_update_form {
  bottom: 0px; position: absolute; right: 5px; text-align: right;
}

#vmMainPageOPC div.static_line {
  bottom: 0px; position: absolute; right: 5px; text-align: right;
}

#vmMainPageOPC div.op_update_form div form input {
  height: 20px;
  vertical-align: middle;
}
#vmMainPageOPC div.op_update_form div form input.inputbox {
  width: 50px !important;
  background-color: white !important;
  
}
#vmMainPageOPC div#tab_selector fieldset {
 margin: 0; 
 padding: 0; 
}
#vmMainPageOPC div.formField {
 margin: 0; 
 padding: 0; 
 margin-top: 5px; 
 
}
#vmMainPageOPC div#textareatest_input {
	margin-top:30px;
}
#vmMainPageOPC input[type="text"].inputbox:-webkit-autofill, #vmMainPageOPC input[type="email"].inputbox:-webkit-autofill {
 background: none; 
 background-color: transparent;
}

#vmMainPageOPC div#opc_unlogged_wrapper select,#vmMainPageOPC div#opc_unlogged_wrapper select:active, #vmMainPageOPC div#opc_unlogged_wrapper select:focus {
 border: none; 
 border-color: transparent; 
 outline: none;
 color: #333 !important;
 width:100%;
}
#vmMainPageOPC #opc_unlogged_wrapper  table select,#vmMainPageOPC div#opc_unlogged_wrapper table select:active, #vmMainPageOPC div#opc_unlogged_wrapper table select:focus {
	width:auto;
	position: relative;
	border: 1px solid #cccccc;
}
#vmMainPageOPC #opc_unlogged_wrapper input#Subscribe_field {
	margin-left:0;
}

#vmMainPageOPC #opc_unlogged_wrapper select > option,#vmMainPageOPC #opc_unlogged_wrapper select:active > option, #vmMainPageOPC #opc_unlogged_wrapper select:focus > option {
 background: none; 
 background-color: white; 
 color: #333 !important; 
}

#vmMainPageOPC #opc_unlogged_wrapper div.middle_select select {
 margin-top: 1px; 
 padding: 0 !important; 
}
#vmMainPageOPC #opc_unlogged_wrapper input,#vmMainPageOPC #opc_unlogged_wrapper input:active, #vmMainPageOPC #opc_unlogged_wrapper input:focus  {
 border: none ; 
 border-color: transparent; 
 outline: none;

}
#vmMainPageOPC #opc_unlogged_wrapper div.op_update_form div form input.inputbox:hover {
  background-color: white;
}
#vmMainPageOPC #opc_unlogged_wrapper div.op_update_form div form input.updatebtn {
  width: 20px !important;
}
#vmMainPageOPC #opc_unlogged_wrapper div.op_update_form div form input.deletebtn {
  width: 20px !important;
}

#vmMainPageOPC div#opc_logged_wrapper select,#vmMainPageOPC div#opc_logged_wrapper select:active, #vmMainPageOPC div#opc_logged_wrapper select:focus {
 border: none; 
 border-color: transparent; 
 outline: none;
 color: #333 !important;
 width:99%;
}


#vmMainPageOPC #opc_logged_wrapper  table select,#vmMainPageOPC div#opc_logged_wrapper table select:active, #vmMainPageOPC div#opc_logged_wrapper table select:focus {
	width:auto;
	position: relative;
	border: 1px solid #cccccc;
}
#vmMainPageOPC #opc_logged_wrapper input#Subscribe_field {
	margin-left:0;
}

#vmMainPageOPC #opc_logged_wrapper select > option,#vmMainPageOPC #opc_logged_wrapper select:active > option, #vmMainPageOPC #opc_logged_wrapper select:focus > option {
 background: none; 
 background-color: white; 
 color: #333 !important; 
}

#vmMainPageOPC #opc_logged_wrapper div.middle_select select {
 margin-top: 3px; 
}
/*
#vmMainPageOPC #opc_logged_wrapper input,#vmMainPageOPC #opc_logged_wrapper input:active, #vmMainPageOPC #opc_logged_wrapper input:focus  {
 border: none ; 
 border-color: transparent; 
 outline: none;

}
*/
#vmMainPageOPC #opc_logged_wrapper div.op_update_form div form input.inputbox:hover {
  background-color: white;
}
#vmMainPageOPC #opc_logged_wrapper div.op_update_form div form input.updatebtn {
  width: 20px !important;
}
#vmMainPageOPC #opc_logged_wrapper div.op_update_form div form input.deletebtn {
  width: 20px !important;
}


#vmMainPageOPC div.edit_link {
 float: right;
 clear: right;
 width: 30% !important;
 text-align: right;
}
#vmMainPageOPC div.edit_link a {
 text-decoration: none;
}
#vmMainPageOPC div.basket_name {
 float: left; 
 clear: left; 
 width: 30% !important;
}
#vmMainPageOPC div.basket_name h3 {
 margin: 0; 
 padding: 0; 
 
}
#vmMainPageOPC div.op_col2_6 a {
 text-decoration: none; 
 color: #383838;
 font-size: 16px;
 
 text-align: left;
 }
#vmMainPageOPC div.op_col2_6 a:hover {
 text-decoration: underline; 
 color: #383838;

}

#vmMainPageOPC div.black_basket {
 

}

#vmMainPageOPC div#address_1_input, div#phone_1_input {
 margin-top: 20px !important;
}
#vmMainPageOPC h4.payment_header {
 margin-top: 15px;
}
#vmMainPageOPC div.totals div, span#payment_inside_basket_cost, #shipping_inside_basket_cost {
 color: #00adee !important;
}
#vmMainPageOPC h4 {
  color: #00adee !important;
}
#vmMainPageOPC div.op_basket_row {
 margin-top: 5px;
 margin-bottom: 5px;
}
#vmMainPageOPC div.special_color
{
 border-bottom: 1px solid #00adee;
}
#vmMainPageOPC div.op_basket_row div a.continue_link {
 padding: 0; 
 padding-left: 20px;
 margin: 0; 
 background: none;
 background-color: transparent;
}

#vmMainPageOPC div#basket_container {
 width: 100%;
 float: left;
 clear: both;
 margin-bottom: 20px;
}
#vmMainPageOPC div.basket_content {
 border: none;  
 background: none; 
 background-color: transparent;
 padding: 0; 
 margin: 0; 
}

#vmMainPageOPC div#basket_container .black-basket {
 width: 100%;
}
#vmMainPageOPC div#basket_container div {
 width: 100%;
}
#vmMainPageOPC div#basket_container div div {
 width: 100%;
}
#vmMainPageOPC div#basket_container div div div {
 width: 100%;
}
#vmMainPageOPC div#basket_container div div div div {
 width: 100%;
}
#vmMainPageOPC div#basket_container div div div div div {
 width: 100%;
}
#vmMainPageOPC div#basket_container div div div div div div {
 width: 100%;
}

#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_header.op_basket_row {
 background: none; 
 background-color: #00adee; 
 color: white; 
 width: 100%; 
 margin-bottom: 0; 
 padding: 0;
 padding-left: 5px;
 height: auto;
 min-height: 25px;
 
}
#vmMainPageOPC input.updatebtn, #vmMainPageOPC input.deletebtn {
 margin-left: 4px; 
}
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_header.op_basket_row div {
 color: white;
 font-weight: bold;
 padding: 0; 
 margin: 0; 
 text-indent: 1px; 
 margin-right: -1px;
}
/* long quntity label */
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_header.op_basket_row div.op_col6 {
 position: relative; 
 overflow: visible; 
}
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_header.op_basket_row div.op_col6 span { 
 left: -30px; 
 position: relative; 
 
}
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_header.op_basket_row:focus,#basket_container div div div div div div div div div.op_basket_header.op_basket_row:hover {
  background-color: #00adee; 
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col1 {
 width: 20%;
 float: left;
     color: #383838;
  overflow: visible;
  height: auto;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2 {
 width: 30%;
 float: left;
    color: #383838;
  overflow: visible;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col3 {
 width: 10%;
 float: left;
    color: #383838;
  overflow: visible;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col4 {
 width: 10%;
 float: left;
    color: #383838;
  overflow: visible;
 display: none;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col5 {
 width: 10%;
 float: left;
    color: #383838;
  overflow: visible;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 {
 width: 20%;
 float: left;
 color: #383838;
 overflow: visible;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 form {
 float: left;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 form input {
 float: left !important;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col7 {
 width: 9%;
 float: left;
 text-align: right;
    color: #383838;
  overflow: visible;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col1_4 {
 width: 80%;
 float: left;
 text-align: right;
    color: #383838;
  overflow: visible;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col5_3 {
 width: 18%;
 text-align: right;
 color: #383838;
 overflow: visible;
 padding-right: 5px; 
 float: right;
}
#vmMainPageOPC div#basket_container span.subtotal_desc {
 font-weight: normal; 
 font-size: 12px;
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_2 {
 width: 40%;
 float: left;
    color: #383838;
  overflow: visible;
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_6 {
 float: right;
 width: 40%;
 
    color: #383838;
  overflow: visible;
  height: 100%;
  position: relative;
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_3 {
 width: 50%;
float: left;
    color: #383838;
  overflow: visible;
}
#vmMainPageOPC div#dob0log fieldset legend.sectiontableheader {
background: none;
padding: 0;
margin: 0;
border: none;

}
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_row:hover {
 /*background: none repeat scroll 0 0 #FFFFCC;*/
}

/* delivery section CSS */
#vmMainPageOPC input[type="text"]#opc_date_picker, #vmMainPageOPC input[type="text"]#opc_date_picker:focus, #vmMainPageOPC input[type="text"]#opc_date_picker:active {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  max-width: 90%; 
  float: left; 
  clear: both; 
  padding: 3px; 
  margin: 0; 
}
#vmMainPageOPC .delivery_section_wrapper {
  width: 100%; 
  clear: both; 
  box-shadow: none !important; 
  float: left; 
}
/* end delivery section css */

#vmMainPageOPC #basket_container div.op_col6 form input[type="text"].inputbox, #vmMainPageOPC #basket_container div.op_col6 form input[type="email"].inputbox   {
  width: 30px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C2C0C0;
  box-shadow: 1px 1px 15px 4px #DDDDDD inset;
  color: #666666;
  display: block;
  padding: 5px !important; 
  margin: 0px;
 }
#vmMainPageOPC #basket_container div.op_col6 form input[type="text"].inputbox:hover, #vmMainPageOPC #basket_container div.op_col6 form input[type="email"].inputbox:hover{
 background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C2C0C0;
  box-shadow: 1px 1px 15px 4px #DDDDDD inset;
  color: #666666;
  display: block;
  padding: 5px !important; 
}
#vmMainPageOPC textarea {
 background: none; 
 background-color: transparent; 
 border: 0px none; 
 
 
}
#vmMainPageOPC  textarea#customer_note_field, #vmMainPageOPC textarea  {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C2C0C0;
  box-shadow: 1px 1px 15px 4px #DDDDDD inset;
  color: #666666;
  display: block;
  padding: 5px; 
  height: 150px;
}
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_row {
 
 float: left;
 min-height: 30px;
 width: 100%;
 clear: both;
 vertical-align: center;
 background: none;
 border: none;
 margin: 0; 
 padding: 0;
 padding-top: 5px;
 min-height: 35px;
 line-height: 35px;
 margin-bottom: 10px;
 clear: both;
 background: none; 
 background-color: transparent;

 
}
#vmMainPageOPC .basket_container {
 clear: none; 
 white-space: no-wrap;
 float: left; 
}
#vmMainPageOPC span.formLabel {
 position: absolute; 
 right: 10000px;
 float: right; 
 white-space: wrap; 
 overflow: visible; 
 top: -3px; 
 z-index: 20; 
 height:1px; 
 clear: none; 
 background: none;
}
#vmMainPageOPC {
 color: #333333;
}
#vmMainPageOPC h4 {
 color: #333333;
}
#vmMainPageOPC span.missing {
 left: auto !important;
 right:5% !important;
 color: red !important;
 font-weight: bold; 
 
 margin: 2px; 
 margin-top: 8px; 
 
 
}
#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formLabel {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 10px 10px 0 0;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
}
#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField {
    float: left;
    margin: 8px 2px 2px;
    vertical-align: middle;
    width: 60%;

}
#vmMainPageOPC div.formField {
 clear: both; 
 position: relative; 
}
#vmMainPageOPC div.multiselect {
 min-height: 50px; 
}
#vmMainPageOPC div.formField div.userradio input {
  	margin-left: auto; 
}
/* rounded corners Felix */
#vmMainPageOPC div.op_inside {
    /*margin-bottom: -20px;*/
/*    margin-top: -15px; */
    margin-top: 0px; 
/*    padding-top: 15px;  */
    float: left;
    margin-right: 0; 
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;	 
    padding-bottom: 0px;
    padding-top: 0;

}

#vmMainPageOPC div.op_rounded_content div div {
 padding-top: 20px;
}

/* basket formatting end */


#vmMainPageOPC span.shipping_error {
 color: red; font-weight: bold; padding-top: 20px;
}
#vmMainPageOPC div#onepage_userfieds {
	width: 100%; 
	float: left;
}
#vmMainPageOPC div#onepage_info_above_button {
	text-align: center; 
	margin: auto;
}
#vmMainPageOPC div#onepage_total_inc_sh {
 padding: 0; 
 margin: 0;
}

#vmMainPageOPC h4 {
  margin: 0 !important; 
  padding: 0 !important; 
  font-weight: bold !important; 
  font-size: 12px !important;
  margin-bottom: 10px !important; 
  margin-top: 10px !important;
  line-height: 1.2;
  text-transform: uppercase;
  
}

#vmMainPageOPC div#onepage_submit_section {
	width: 100%; 
	float: left; 
	padding-top: 30px;
}
#vmMainPageOPC input#confirmbtn {
	
        width: 95%;
}


#vmMainPageOPC fieldset.op_fieldset {
 border: none; 
 background: none; 
 background-color: transparent;
 margin: 0; 
 padding: 0;
 color: #555555;
 
}
#vmMainPageOPC div#agreed_div {
 width: 100%;
 margin: 0; 
 
 clear:left;
}
#vmMainPageOPC div#onepage_login_box {
 padding: 20px; 
 text-align: center; 
 margin-right: auto; 
 margin-left: auto; 
 width: 100%; 
}
#vmMainPageOPC div#onepage_login {
 text-align: left; 
 padding-left: 35%;
}
#vmMainPageOPC textarea#onepage_tos {
width: 100%;
}

#vmMainPageOPC span.bottom_totals_txt {

text-align: left;
float: left;
overflow: visible;
}
#vmMainPageOPC div.op_hr {
 border: none; 
 border-bottom: 1px solid #fff;
 background: none; 
 margin: 0; 
 padding: 0;
 clear: both;
 height: 5px;
}
#vmMainPageOPC div.before_input {
margin: 0; 
 padding: 0;  
 background: #ffffff url('images/leftinput.png') no-repeat left top; 
 width: 8px; 
 height: 25px; 
 float: left;
 overflow: visible;
}
#vmMainPageOPC div.before_select {
 margin: 0; 
 padding: 0; 
 background: transparent url('images/leftinput.png') no-repeat left top; 
 width: 8px; 
 height: 25px; 
 float: left;
 overflow: visible;
 margin-right: -1px; 
}
#vmMainPageOPC div.checkout_link {
 diplay: none;
}

#vmMainPageOPC button h4  {
 color: white; 
 padding: 0; 
 margin: 0; 
 margin-top: 10px; 
 margin-bottom: 10px;
}

#vmMainPageOPC div.middle_input {
 margin: 0; 
 padding: 0;
 background: #ffffff url('images/middle.png') repeat-x left top; 
 width: 96%; 
 min-height: 25px; 
 overflow: hidden;
 position: relative;
 margin-left: -1px; 
}
#vmMainPageOPC .username_already_exist, #vmMainPageOPC .email_already_exist {
 clear: both; 
}
#vmMainPageOPC div.middle_select {
 margin: 0; 
 margin-left: 5px;
 padding: 0; 
 background: #ffffff url('images/middle.png') repeat-x left top; 
 width: 96%; 
 height: 25px; 
 overflow: hidden;
 position: relative;
}
#vmMainPageOPC div.middle_select div {
 margin: 0; 
 padding: 0;
}

#vmMainPageOPC div.middle_input > input[type="text"],#vmMainPageOPC div.middle_input > input[type="password"], #vmMainPageOPC div.middle_input > input[type="email"], #vmMainPageOPC div.after_select select {
 background: none; 
 background-color: transparent; 
 border: none; 
 border-color: transparent;
 padding: 0 !important; 
}
#vmMainPageOPC div.middle_input > input {
 float: left;
 webkit-box-shadow: none !important; 
 box-shadow: none !important; 
 height: 25px; 
 margin: 0; 
 padding: 0; 
}
#vmMainPageOPC div.middle_select > input {
 float: left;
 
 background: none; 
 background-color: transparent; 
 border: none; 
 border-color: transparent;
 height: 25px; 
 margin: 0; 
 padding: 0;
 padding-top: 0px !important; 
}

#vmMainPageOPC div.after_input {
margin: 0; 
 padding: 0; 
 float: right;
 white-space: wrap;
 background: #ffffff url('images/rightinput.png') left top no-repeat; 
 width: 8px; 
 height: 25px; 
 position: absolute; 
 right: 0; 
 top: 0;
}

#vmMainPageOPC span.bottom_totals {
/* width: 67%; */
text-align: right;
padding-left: 3%;
float: right;
overflow: visible;
}

#vmMainPageOPC div#totalam {

width: 100%;
clear: both;
float: left;
margin: 0 auto;
}

#vmMainPageOPC br.op_clear {
 clear: both;
}

#vmMainPageOPC div#tt_order_subtotal_div {
 width: 100%;
 float: left;
 clear: both;
}
#vmMainPageOPC div#tt_order_payment_discount_before_div {
 width: 100%;
 display: none;
 
}

#vmMainPageOPC div#tt_order_discount_before_div {
 width: 100%;
 display: none;

}

#vmMainPageOPC div#tt_shipping_rate_div {
 width: 100%;
 

}
#vmMainPageOPC div#tt_shipping_tax_div {
 width: 100%;
 display: none;

}

#vmMainPageOPC div#tt_tax_total_0_div {
 display: none;
width: 100%;
}

#vmMainPageOPC div#tt_tax_total_1_div {
 display: none;
width: 100%;
}

#vmMainPageOPC div#tt_tax_total_2_div {
 display: none;
width: 100%;
}

#vmMainPageOPC div#tt_tax_total_3_div {
 display: none;
width: 100%;
}

#vmMainPageOPC div#tt_tax_total_4_div {
 width: 100%;
 display: none;

}

#vmMainPageOPC div#tt_order_payment_discount_after_div {
 width: 100%;
 display: none;

}

#vmMainPageOPC div#tt_order_discount_after_div {
 width: 100%;
 display: none;

}

#vmMainPageOPC div#tt_total_div {
 margin-top: 0px; 
 font-weight: bold;
 width: 100%;
 margin-bottom: 10px;
}
#vmMainPageOPC div#rbsubmit {
 white-space: wrap;
}
#vmMainPageOPC select#shipping_inside_basket_select {
 font-family: monospace;
}
#vmMainPageOPC select#payment_inside_basket {
 font-family: monospace;
}
#vmMainPageOPC button#confirmbtn_button  {
 
 border: none;

 border-bottom: 1px solid #1a64a9; 
 border-top: 1px solid #61c0ed; 
		/* fallback */
  background-color: #3a96d2;
  
  background-repeat: repeat-x;

  background: linear-gradient(top, rgb(82,172,225) 0%, rgb(58,150,210) 53%);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#52ace1) 0%, to(#3a96d2) 53%);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #52ace1 0%, #3a96d2 53%);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #52ace1 0%, #3a96d2 53%);

  /* IE 10 */
  background: -ms-linear-gradient(top, #52ace1 0%, #3a96d2 53%);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #52ace1 0%, #3a96d2 53%);

  color: #ffffff;
  

 
 /*border-color: transparent;*/
 width: 100%;
 padding-left: 0; 
 padding-right: 0; 
 margin: 0; 
 color: #FFFFFF;
 height: auto;
}
#vmMainPageOPC button#confirmbtn_button:hover  {
 border: none;
 
 border-bottom: 1px solid #1a32aa; 
 border-top: 1px solid #61b3ed; 
		/* fallback */
  background-color: #3a5ed2;
  
  background-repeat: repeat-x;

  background: linear-gradient(top, rgb(83,140,225) 0%, rgb(58,94,210) 53%);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#538ce1) 0%, to(#3a5ed2) 53%);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #538ce1 0%, #3a5ed2 53%);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #538ce1 0%, #3a5ed2 53%);

  /* IE 10 */
  background: -ms-linear-gradient(top, #538ce1 0%, #3a5ed2 53%);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #538ce1 0%, #3a5ed2 53%);

  color: #ffffff;
 
 

 

 
}

#vmMainPageOPC button h4#confirmbtn {
 color: #FFFFFF !important;
 }


#vmMainPageOPC #couponcode_field .inputbox {
    
}
#vmMainPageOPC input.coupon_submit_txt {
  width: 200px;
}
div#vmMainPageOPC input.op_login_button, div#vmMainPageOPC input.coupon_button {
  -moz-border-radius: 2px;
  background: none;
 border-radius: 2px;
 
 background-color: #809FB6;
 color: #FFFFFF;
 width: 93%;
 clear: both;
 height: 25px;
 
 border-color: transparent;
 border-top: 1px solid #94b8d3; 
 border-bottom: 1px solid #607688; 
 
 
  background: linear-gradient(top, rgb(128,159,182) 0%, rgb(107,148,179) 53%);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#809FB6) 0%, to(#6b94b3) 53%);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #809FB6 0%, #6b94b3 53%);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #809FB6 0%, #6b94b3 53%);

  /* IE 10 */
  background: -ms-linear-gradient(top, #809FB6 0%, #6b94b3 53%);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #809FB6 0%, #6b94b3 53%);
 
}
div#vmMainPageOPC input.op_login_button:hover, div#vmMainPageOPC input.coupon_button:hover 
{
 
 background-color: #576d7c;
  background: linear-gradient(top, rgb(128,159,182) 0%, rgb(107,148,179) 53%);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#576d7c) 0%, to(#384650) 53%);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #576d7c 0%, #384650 53%);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #576d7c 0%, #384650 53%);

  /* IE 10 */
  background: -ms-linear-gradient(top, #576d7c 0%, #384650 53%);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #576d7c 0%, #384650 53%);
}


div#vmMainPageOPC input.coupon_button { 
 width: 200px; 
 margin-right: 3px;
}
#vmMainPageOPC input.op_login_button:hover {
}
#vmMainPageOPC input.coupon_button {
  -moz-border-radius: 2px;
  background: none;
 border-radius: 2px;
 background-color: #809FB6;
 border-color: transparent;
 color: #FFFFFF;
 float: right; 
 clear: both; 
 padding: 0; 
 margin: 0; 
 margin-top: 10px; 
 margin-bottom: 10px;
}
#vmMainPageOPC table.vmMulti {
 clear: both; 
 float: left;
 min-height: 30px;
 width: 100%;
}
#vmMainPageOPC div#vm_genre_input {
 min-height: 20px; 
 height: auto;
}
#vmMainPageOPC  input[type="radio"] + label {
   /*padding-left: 20px;*/
   display: inline-block;
   clear: right;
   width: 80%;
}
#vmMainPageOPC.payment_item input {
 position: relative;
}
#vmMainPageOPC input.coupon_button:hover {
 background-color: #8A8A8A;
}

#vmMainPageOPC div.coupon_section {
 float: right; 
 clear: both;
 margin-bottom: 10px;
 width: 50%; 
 text-align: right;
 vertical-align: middle;
 text-align: right; 
 margin-right: 1%;
}
#vmMainPageOPC input.inputbox[type="text"]:hover,
#vmMainPageOPC input.inputbox[type="text"]:focus,
#vmMainPageOPC input.inputbox[type="email"]:hover,
#vmMainPageOPC input.inputbox[type="email"]:focus 
{
 background: none !important;
 border: none;
 border-color: transparent; 
 border: none;
 border-radius: 0; 
 outline: none none; 
 box-shadow: none;
}
#vmMainPageOPC div.middle_input select, div.middle_input select:hover, div.middle_input select:focus {
 border: none; 
 background: none; 
 background-color: transparent; 
 border: none; 
 border-color: transparent; 
 margin: 0; 
 padding; 0; 
 box-shadow: none; 
 outline: none; 
 /*
 min-width: 300px;
 width: 300px;
 */

 position: relative;
 z-index: 10;
 
} 

#vmMainPageOPC input[type="text"], #vmMainPageOPC input[type="text"]:active, #vmMainPageOPC input[type="text"]:focus,
#vmMainPageOPC input[type="email"], #vmMainPageOPC input[type="email"]:active, #vmMainPageOPC input[type="email"]:focus
{
  background: none;
  color: #333;
  border: none; 
  margin: 0; 
  padding: 0; 
  margin-left: 0;
  width: 95%; 
  box-shadow: none; 
  outline: none;
  float: left;   
  
}

#vmMainPageOPC div.middle_select select, div.middle_select select:hover, div.middle_select select:focus {
 border: none; 
 background: none; 
 background-color: transparent; 
 border: none; 
 border-color: transparent; 
 margin: 0; 
 margin-top: 3px; 
 padding; 0; 
 box-shadow: none; 
 outline: none none; 
 /*
 min-width: 300px;
 width: 300px;
 */
 position: relative;
 z-index: 10;
  width: 98%;
  -webkit-appearance: none;
  -khtml-appearance: none; 
  appearance: field; 
  -moz-appearance: textfield; 
 background: transparent url('images/rightselect.png') 101% center no-repeat; 
} 
#vmMainPageOPC div#basket_container  div.opc_basket_sep {
height: 1px; background: none; width: 200px; float: right; border-bottom: 1px solid #00ADEE; clear: both;
}
#vmMainPageOPC div#agreed_div label, #vmMainPageOPC div#agreed_div label a, #vmMainPageOPC div#agreed_div strong {
  float: none; 
}
#vmMainPageOPC div.usercheckbox label {
 float: none; 
}
#vmMainPageOPC div.usercheckbox br {
display: none; 
}
#vmMainPageOPC #opc_unlogged_wrapper input[type="checkbox"], #vmMainPageOPC #opc_unlogged_wrapper input[type="radio"] {
 float: left; 
}
#vmMainPageOPC #opc_logged_wrapper input[type="checkbox"], #vmMainPageOPC #opc_logged_wrapper input[type="radio"] {
 float: left; 
}
#vmMainPageOPC label.userfields:hover {
 color: #222222;
}
#vmMainPageOPC div#agreed_div label {
  float: none; 
}

#vmMainPageOPC #tab_selector div {
 margin: 0; 
 padding: 0;
}
#vmMainPageOPC #logintab {
 white-space: wrap;
}

#vmMainPageOPC #logintab div {
 margin: 0; 
 padding: 0;
}

#vmMainPageOPC label.userfields {
 cursor: pointer;
 position: absolute;
 left: 0; 
 top: 5px;
 color: #555555;
 margin: 0; 
 padding: 0; 
 display: inline-block; 
 overflow: visible;
 font-style: italic;
 margin-left: 10px; 
 
}




#vmMainPageOPC div.after_select {

 z-index: 8; 
 margin: 0; 
 padding: 0; 
 float: right;
 white-space: wrap;
 /*background: #ffffff url('images/rightselect.png') left top no-repeat; */
 width: 1px; /*25px; */
 height: 25px; /*25px; */
 position: absolute;
 
 border-right: 1px solid #b2b2b2; 
 top: 0; 
 right: 0;
 z-index: 22;
 
}
#vmMainPageOPC div#logintab {
 margin-bottom: 10px;
}

#vmMainPageOPC input#agreed_field {
 width: auto !important;
}

#vmMainPageOPC div#tt_order_subtotal_div_basket,
#vmMainPageOPC div#tt_order_discount_before_div_basket,
#vmMainPageOPC div#tt_order_payment_discount_before_div_basket,
#vmMainPageOPC div#tt_order_payment_discount_after_div_basket,
#vmMainPageOPC div#tt_order_discount_before_div_basket,
#vmMainPageOPC div#tt_shipping_rate_div_basket,
#vmMainPageOPC div#tt_order_discount_after_div_basket,
#vmMainPageOPC div#tt_tax_total_0_div_basket,
#vmMainPageOPC div#tt_tax_total_1_div_basket,
#vmMainPageOPC div#tt_tax_total_2_div_basket,
#vmMainPageOPC div#tt_tax_total_3_div_basket,
#vmMainPageOPC div#tt_tax_total_4_div_basket,
#vmMainPageOPC div#tt_total_div_basket,
#vmMainPageOPC div#basket_continue_link,
#vmMainPageOPC div#tt_static_total_div_basket,
#vmMainPageOPC div#tt_total_basket_div_basket, 
#vmMainPageOPC div#tt_weight_div_basket,
#vmMainPageOPC div.dynamic_col1, #vmMainPageOPC div.dynamic_col2, #vmMainPageOPC div.totals
{
 background: none !important; 
 background-color: transparent !important;
 margin: 0 !important;
 margin-bottom: 3px !important; 
 line-height: 20px !important;
 min-height: 20px !important;
}
#vmMainPageOPC div#tt_total_basket_div_basket div.op_col1_4 {
  font-weight: bold;
}
#vmMainPageOPC div#tt_order_subtotal_div_basket:hover, div#tt_order_discount_before_div_basket:hover, div#tt_order_payment_discount_before_div_basket:hover, div#tt_order_payment_discount_after_div_basket:hover, div#tt_order_discount_before_div_basket:hover, div#tt_shipping_rate_div_basket:hover, div#tt_order_discount_after_div_basket:hover, div#tt_tax_total_0_div_basket:hover, div#tt_tax_total_1_div_basket:hover, div#tt_tax_total_2_div_basket:hover, div#tt_tax_total_3_div_basket:hover, div#tt_tax_total_4_div_basket:hover, div#tt_total_div_basket:hover, div#basket_continue_link:hover, div#tt_static_total_div_basket:hover, div#tt_total_basket_div_basket:hover {
 /*background: none repeat scroll 0 0 #FFFFCC !important;*/
}
#vmMainPageOPC div#tt_total_basket_static {
  font-size: 16px;
}
#vmMainPageOPC tr.sectiontableentry1x:hover, tr.sectiontableentry2x:hover {
 background: none repeat scroll 0 0 #FFFFCC;
}
#vmMainPageOPC div.isectiontableentry1:hover, div.isectiontableentry2:hover {
 background: none repeat scroll 0 0 #FFFFCC;
}
#vmMainPageOPC div.isectiontableentry1, div.isectiontableentry2  {
  margin: 0; 
  margin-bottom: 20px; 
  padding: 0; 
  clear: both; 
  border: none; 
  border: none;
}


#vmMainPageOPC input.payment_item_radio {
 float: left; 
 top: 50%;
 left: 0;
 clear: left; 
 position: absolute; 
}
#vmMainPageOPC .payment_item {
 position: relative;
 float: left; 
 clear: both;
}
#vmMainPageOPC div.payment_item {
 width: 95%;
}
#vmMainPageOPC div.cc_wrapper {
 position: relative; 
 top: 10px; 

}
#vmMainPageOPC label.op_payment_label {

 position: relative;
 top: 10px;
 left: 20px;
 float: left;
 clear: right;
}
#vmMainPageOPC span.opc_PricesalesPrice {
 color: #00ADEE !important; 
}
#vmMainPageOPC div.op_col5 div.opc_PricesalesPrice span {
 float: left; 
 
}

#vmMainPageOPC div#payment_html table tr td, #vmMainPageOPC div#payment_extra_outside_basket table tr td {
 border: none !important;  
}
#vmMainPageOPC div#payment_html table tr, #vmMainPageOPC div#payment_extra_outside_basket table tr {
  margin-top: 10px; 
}

tr, td
{
	border: none !important;
}
#vmMainPageOPC div#payment_html input.inputbox[type="text"]:active, 
#vmMainPageOPC div#payment_html input.inputbox[type="text"]:hover, 
#vmMainPageOPC div#payment_html input.inputbox[type="text"]:focus,
#vmMainPageOPC div#payment_html input.inputbox[type="text"], 
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="text"]:active, 
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="text"]:hover, 
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="text"]:focus,
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="text"],
#vmMainPageOPC div#payment_html input.inputbox[type="email"]:active, 
#vmMainPageOPC div#payment_html input.inputbox[type="email"]:hover, 
#vmMainPageOPC div#payment_html input.inputbox[type="email"]:focus,
#vmMainPageOPC div#payment_html input.inputbox[type="email"], 
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="email"]:active, 
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="email"]:hover, 
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="email"]:focus,
#vmMainPageOPC div#payment_extra_outside_basket input.inputbox[type="email"]
  {
 background: #ffffff !important;
 border: 1px solid #DDD; 
 border-radius: 2px; 
 width: auto;
 padding-bottom: 0px; 
 padding-top: 0px; 
 padding-right: 0px; 
 padding-left: 6px; 
 margin: 0; 
 /*box-shadow: 1px 1px 15px 4px #DDD inset;*/
 color: #666; 

}
#vmMainPageOPC div#payment_html {
 display: inline-block; 
 min-height: 30px; 
 width: 100%; 
 clear: both; 
}
#vmMainPageOPC div#payment_html table input.inputbox[type="text"]:active, 
#vmMainPageOPC div#payment_html table input.inputbox[type="text"]:hover, 
#vmMainPageOPC div#payment_html table input.inputbox[type="text"]:focus,
#vmMainPageOPC div#payment_html table input.inputbox[type="text"] ,
#vmMainPageOPC div#payment_extra_outside_basket table input.inputbox[type="text"]:active, 
#vmMainPageOPC div#payment_extra_outside_basket table input.inputbox[type="text"]:hover, 
#vmMainPageOPC div#payment_extra_outside_basket table input.inputbox[type="text"]:focus,
#vmMainPageOPC div#payment_extra_outside_basket table input.inputbox[type="text"]  {
	
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C2C0C0;
	box-shadow: 1px 1px 15px 4px #DDDDDD inset;
	color: #666666;
	max-width: 70%;}
#vmMainPageOPC div#payment_html table select.selectbox:active, 	
#vmMainPageOPC div#payment_html table select.selectbox:hover, 
#vmMainPageOPC div#payment_html table select.selectbox:focus,
#vmMainPageOPC div#payment_html table select.selectbox, 
#vmMainPageOPC div#payment_extra_outside_basket table select.selectbox:active, 	
#vmMainPageOPC div#payment_extra_outside_basket table select.selectbox:hover, 
#vmMainPageOPC div#payment_extra_outside_basket table select.selectbox:focus,
#vmMainPageOPC div#payment_extra_outside_basket table select.selectbox {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C2C0C0;
	box-shadow: 1px 1px 15px 4px #DDDDDD inset;
	color: #666666;
	}
	
#vmMainPageOPC span.cart_header_span {
font-weight: bold; color: #FFD11B;
}

div.zasilkovina_output {
  clear:both; 
  float: none; 
  min-height: 80px; 
}
#vmMainPageOPC select.zasielka_select {
 max-width: 98%; 
}
div.zasilkovina_output div.zasielka_div2 {
 clear: left !important; 
 margin-bottom: 20px !important; 
}
div.zasilkovina_output div.zasielka_div1 {
padding-top: 40px !important; 
}
/* PPL PRO, authorize and eway */
#vmMainPageOPC span.vmpayment_cardinfo table tr td, #vmMainPageOPC span.vmpayment_cardinfo table, #vmMainPageOPC span.vmpayment_cardinfo table tr, #vmMainPageOPC span.vmpayment_cardinfo table tbody,  
#vmMainPageOPC div.vmpayment_cardinfo table tr td, #vmMainPageOPC div.vmpayment_cardinfo table, #vmMainPageOPC div.vmpayment_cardinfo table tr, #vmMainPageOPC div.vmpayment_cardinfo table tbody
{
 display: block; 
 margin: 0px; 
 padding: 0px; 
 float: none; 
}
#vmMainPageOPC span.vmpayment_cardinfo label, #vmMainPageOPC span.vmpayment_cardinfo td {
 clear: both; 
}
#vmMainPageOPC .vmpayment_cardinfo {
 color: #333333; 
 font-size: 13px; 
}
#vmMainPageOPC span.vmpayment_cardinfo input[type="text"] {
  height: 25px; 
  clear: right; 
}

span.vmpayment_cardinfo table, div.vmpayment_cardinfo table  {
 border: 0px none !important; 
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 580px) and (max-width: 879px) { 
	#vmMainPageOPC .dob1 {
	width:48% !important;
	padding-left:1%;
	}
	#vmMainPageOPC .dob2 {
	width:48% !important;
	padding-left:1%;
	}
	#vmMainPageOPC .dob3 {
	width:98% !important;
	left: 0% !important;
	margin-top: 10px;
	height:auto;
	padding-left:1.4%;
	}
	
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_header.op_basket_row {
	height: auto;
	padding-left:5px;
	padding-right: 5px;
 }
	
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col1 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col3 {
	display:none;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col4 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col5 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 {
	width: 25%;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 form {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 form input {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col7 {
	width:14%;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col1_4 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col5_3 {
}
#vmMainPageOPC div#basket_container span.subtotal_desc {
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_2 {
	width:30%;
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_6 {
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_3 {
}
#vmMainPageOPC div#onepage_main_div fieldset legend.sectiontableheader {

}
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_row:hover {
 /*background: none repeat scroll 0 0 #FFFFCC;*/
}

#vmMainPageOPC div.op_col6 form input[type="text"].inputbox  {
 }
#vmMainPageOPC div.op_col6 form input[type="text"].inputbox:hover{
 
}
}
/* Landscape phones and down */
@media (max-width: 579px) { 
	#vmMainPageOPC .dob1 {
	width: 98% !important;
	padding-left:1%;
	}
	#vmMainPageOPC .dob2 {
	width: 98% !important;
	left: 0% !important;
	margin-top: 10px;
	padding-left:1%;
	}
	#vmMainPageOPC .dob3 {
	width: 98% !important;
	left: 0% !important;
	margin-top: 10px;
	height: auto;
	padding-left:1%;
	}
	
		
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col1 {
	width:30%;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col3 {
	display:none;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col4 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col5 {
	display:none;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 {
	width:20%;
	
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 form {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col6 form input {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col7 {
	width:20%;
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col1_4 {
}
#vmMainPageOPC div#basket_container div.op_basket_row div.op_col5_3 {
}
#vmMainPageOPC div#basket_container span.subtotal_desc {
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_2 {
	width:30%;
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_6 {
}

#vmMainPageOPC div#basket_container div.op_basket_row div.op_col2_3 {
}
#vmMainPageOPC div#onepage_main_div fieldset legend.sectiontableheader {

}
#vmMainPageOPC #basket_container div div div div div div div div div.op_basket_row:hover {
 /*background: none repeat scroll 0 0 #FFFFCC;*/
}

#vmMainPageOPC div.op_col6 form input.inputbox  {
 }
#vmMainPageOPC div.op_col6 form input.inputbox:hover{
 
}

}

