.callback-title{
	width:200px;
	height:20px;
	background:#0033FF;
	text-align:center;
	color:#ffffff;
	line-height:20px;
	cursor:pointer;
	margin-left:10px;
	}	
	
.opacity{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:800;
	background: url(../images/opacity.png);
	display:none;
	}	
	
.callback-form{
	width:280px;
	height:300px;
	background:#f4f4f4;
	border:7px solid #04aeda;
	margin-left:15px;
	}	
	
.callback-form h3{
	display:block;
	margin:10px 10px 20px 10px;
	width:260px;
	height:40px;
	text-align:center;
	font-size:18px;
	font-weight:normal;
	}	
	
.callback-msg{
	height:150px;
	top:100px;
	}	
		
.callback-header{
	height:35px;
	background:#e5e5e5;
	color:#6c6b6b;
	font-size:16px;
	line-height:35px;
	}	
	
.callback-header span{
	display:block;
	float:left;
	margin-left:15px;
	}
	
.close{
	width:24px;
	height:24px;
	background: url(../images/close_icon.png);
	float:right;
	cursor:pointer;
	margin:4px 4px 0 0;
	}		

.callback-form input[type=text]{
	display:block;
	height:35px;
	width:225px;
	padding-left:5px;
	margin:0 0 15px 25px;
	font-weight:bold;
	color:#666666;
	}		
	
.cb-button{
	width:165px;
	height:28px;
	color:#ffffff;
	background: url(../images/order_button.png);
	border:0;
	margin:10px 0 0 57px;
	cursor:pointer;
	}	
	
.order-bottom{
	width:328px;
	height:10px;
	background: url(../images/order_bottom.png);
	}	

.callback-message{
	width:310px;
	margin:10px 0 10px 25px;
	height:30px;
	}	
	
.callback-msg .callback-message{
	margin-top:30px;
	text-align:center;
	} 	
	
.callback-msg .callback-message span{
	color:#F00;
	}	
	
.callback-info{
	font-size:13px;
	color:#949494;
	font-style:italic;
	margin:15px 0 15px 10px;
	}	
	
.callback-left{
	float:left;
	width:235px;
	}	
	
.callback-right{
	width:210px;
	float:left;
	}	
	
.callback-right textarea{
	width:195px !important;
	height:108px !important;
	border:1px solid #d4d1d1;
	padding:5px;
	}	
	
.required-fields{
	font-size:13px;
	color:#383838;
	margin-left:5px;
	width:448px;
	border-bottom:1px solid #c1c1c1;
	height:25px;
	}	
	
.required-fields span{
	font-weight:bold;
	color:#f4742e;
	}	