/**
 * VM Live Product Search
 *
 * Used to process Ajax searches on a Virtuemart 1.1.2 Products.
 * Based on the excellent mod_pixsearch live search module designed by Henrik Hussfelt (henrik@pixpro.net - http://pixpro.net)
 * @author		modified by stAn RuposTel 
 * @author		John Connolly <webmaster@GJCWebdesign.com>
 * @package		mod_vm_live_product
 * @since		1.5
 * @version     0.3.0
 */

input.inputbox_vm_ajax_search_search_str2{
	float: left;

}
div.ajax_srch {
 overflow: visible !important;
}
div.res_a_s {
 display: none;
 position: absolute;
 width: 100%;
 float: left;

 background-color: white;
 margin: 0 0 0 0; 
 padding: 0 0 0 0; 
 overflow: none; 
 z-index: 9999999; 
}

div.res_a_s div.vm-price-desc, div.res_a_s span.vm-price-desc {
display: none; 
}

div.res_a_s div a{
 color: black !important;
}
div.res_a_s {
	border: 1px #333 solid;
	margin-right: 0;
	margin-left: 0; 
	padding-right: 0; 
	padding-left: 0;
	
	max-height: 60%; 
	overflow-y: scroll; 
	/*width: 99%;*/
}

input.button_ajax_search {
 float: right !important;
 clear: right;
}

a.product_lnk_ajax_text, a.product_lnk_ajax_text:hover, a.product_lnk_ajax_text:active {
  text-decoration: none !important; 
  background: none; 
  color: black; 
}
div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax:hover, div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax:active, div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax:visited {
 text-decoration: none !important; 
 background: none; 
}
div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax {
	float: right !important;
    text-decoration: none; 
    background: none; 
	color:white !important;
	
}
div.res_a_s div.vm_ajax_search_header2{
	font-weight: bold;
	font-size: 10px;
	background-color: #333;
	
	color:#ccc;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}

div.res_a_s h3{
	color: #000;
	
	float: left;
	clear: both;
	width: 100%;
}
a.product_lnk_ajax {
 float: left;
}
div.res_a_s span{
	line-height: 100%;
}
div.res_a_s div.vm_ajax_search_row_1{
	
	background-color: #FFF;
	cursor: hand;
	
	width: 94%;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
}
/*
div.res_a_s div.vm_ajax_search_row_1:hover {
 background-color: #ccc;
}

div.res_a_s div.vm_ajax_search_row_2:hover {
 background-color: #ccc;
}
*/
div.res_a_s div.selectedRow {
  background-color: #ccc !important;
}
div.res_a_s div.vm_ajax_search_row_2{
	cursor: hand;
	background-color: #EEE;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	float: left;
}
div.res_a_s div.vm_ajax_search_row_btm{
	font-weight: bold;
	font-size: 12px;
	background-color: #333;
	
	float: left;
}

/* postions timer in search box****/
div.vm_ajax_search_timer2 {
	position: absolute; 
	top: 33px; 
	left: 135px;
	width: 16px;
}
/* 3 letter min message****/
span.vm_ajax_search_3letters2 {
	color:red;
}

.image_wrap1 {
float: left; width; 23%; min-height: 55px;
}

.image_wrap2 {
float: left; 
border: none;
white-space: no-wrap; display: inline-block; clear: right; 
}

.link_wrap1 {
float: right; display: block; overflow: none; padding: 0; margin: 0; width: 75%;  min-height: 55px;
}

.product_lnk_ajax_text {
text-align: left; margin-top: -3px;
}

div.aj_label_wrapper.ajax_search_pro {
position: relative; height: 20px; clear: both;
}

div.input-prepend input.inputbox_vm_ajax_search_search_str2 {
position: relative;float:left; border-radius:0; top: 0; left: 0;
}

div.aj_search_radio {
float:left;
}

div.results_position_x  {
clear: both; float: left; height: 1px; width: 1px; font-size: 1px;
}


input.active_search {
 background-color: white; 
 background-image: url('loadingcircle.gif'); 
 background-repeat: no-repeat; 
 background-position: right 50%; 
 
}