.onetable-cart{
	width:100%;
	border-collapse:0;
	border-spacing:0;
	border-top:1px solid #dddddd;
	border-left:1px solid #dddddd;
	}
	
	
.onetable-cart th{
	border-bottom:1px solid #dddddd;
	border-right:1px solid #dddddd;
	background:#f9f9f9;
	height:40px;
	}	
	
.onetable-cart td{
	border-bottom:1px solid #dddddd;
	border-right:1px solid #dddddd;
	padding:10px;
	}	
	
.onetd-image img{
	max-width:180px;
	max-height:180px;
	}	
	
.onetd-name a{
	color: #e65c6c;
    text-decoration: underline;
	}
	
.onetd-name a:hover{
	color:#333333;
	}	
	
#tt_order_subtotal_div_basket{
	width:100%;
	border-collapse:0;
	border-spacing:0;
	margin-top:20px;
	}		
	
#tt_order_subtotal_div_basket td{
	padding:10px 0;
	font-size:18px;
	}	
	
#tt_order_subtotal_div_basket td:first-child{
	text-align:right;
	padding-right:40px;
	font-size:16px;
	}	
	

	
.cart-quantity input[type=text]{
	width:35px;
	height:35px;
	float:left;
	margin-right:5px;
	border:1px solid #d6d4d4;
	padding:0 12px;
	background-color:#fbfbfb;
	}		
	
#couponcode_field{
	margin-top:20px;
	}
	
#submit_coupon_button{
	height:34px;
	color:#ffffff;
	font-size:18px;
	padding:0 15px;
	font-family: 'Lato', sans-serif;
	background:#84c0b6;
	border:0;
	cursor:pointer;
	}	
	
#submit_coupon_button:hover{
	background:#e65c6c;
	}	
	
.op_userdata{
	border:1px solid #dddddd;
	margin-top:20px;
	padding:15px;
	}	
	
#totalam{
	margin-top:20px;
	}	
	
.bottom_totals,
    .bottom_totals_txt{
	display:block;
	float:right;
	font-size:18px;
	}	
	
.bottom_totals{
	width:150px;
	font-weight:bold;
	text-align:right;
	padding-right:15px;
	}	
	
#tt_order_subtotal_div,
    #tt_shipping_rate_div{
	padding-bottom:8px;
	}	
	
.op_userdata{
	margin-top:30px;
	} 	
	
.op_userdata label{
	display:block;
	margin-bottom:4px;
	}	
	
.op_userdata input[type=text],
    .op_userdata input[type=email],
    .op_userdata textarea{
	height:30px;
	width:300px;
	margin-bottom:5px;
	padding:0 10px;
	color:#777777;
	background:#fbfbfb;
	font-family: 'Lato', sans-serif;
	border:1px solid #d6d4d4;
	}	
	
.op_userdata textarea{
	height:80px;
	}	
	
#agreed_div{
	float:right;
	}	
	
#agreed_div a{
	color:#e65c6c;
	text-decoration:underline;
	}	
	
#agreed_div a:hover{
	color:#222227;
	}	
	
