 /*
*
* @copyright Copyright (C) 2007 - 2010 RuposTel - All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* One Page checkout is free software released under GNU/GPL and uses code from VirtueMart
* VirtueMart is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* 
*/
div#vmMainPageOPC {
  clear: both; 
  float: none; 
  overflow: none; 
  margin: 0; 
  padding: 0; 
  /*position: relative; */
  margin-top: 10px;   
  /*font-family: Helvetica,Arial;*/
}
div#vmMainPageOPC * {
 box-sizing: content-box; 
  -moz-box-sizing: content-box; 
}
#vmMainPageOPC input[type="radio"], #vmMainPageOPC input[type="checkbox"] {
 float: left; 
}
#vmMainPageOPC #shipping_inside_basket label, #vmMainPageOPC #payment_inside_basket label {
 float: none; 
 max-width: 95%; 
 
}

#shipping_inside_basket br, #payment_inside_basket br {
 display: none; 
}

div#tt_total_basket {
 font-weight: bold;
 font-size: 1.3em; 
}


div#basket_container div.desc_title {
 font-size:11px; 
 font-style:italic;
 clear: both; 
}
div#basket_container div.product_s_desc {
font-size:11px; font-style:normal;
margin-bottom: 10px; 
}
div#basket_container div.product_attributes {
 clear: both; 
}

div#basket_container div.op_basket_row div.op_col6 form input {
 padding: 0; 
 height: 26px;
}
div#vmMainPageOPC div.bsep {
 border-top: 1px #ddd solid;
}

div#vmMainPageOPC div.quantitycol {
 position: relative; 
}

div#vmMainPageOPC a.updatebtn,div#vmMainPageOPC input.opcquantity,div#vmMainPageOPC a.deletebtn {
 position: relative; 
 top: 0px; 
 margin: 0; 
 padding: 0; 
}
div#vmMainPageOPC a.deletebtn {
 top: -2px; 
}
div#vmMainPageOPC div#confirm_button_div {

float: right; clear: right; width: 40%;
}
div#vmMainPageOPC .modal {
position:relative;
top:10%;
left:2%;
z-index:1050;
width:auto;
margin-left:0px;
background-color:none;
border:none;
-webkit-border-radius:0;
-moz-border-radius:0px;
border-radius:0px;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none; 
-webkit-background-clip:padding-box;
-moz-background-clip:padding-box;
background-clip:padding-box;
outline:none;

}
#vmMainPageOPC .invalid {
	border-color: #ff0000;
	color: #ff0000;
}
div#vmMainPageOPC input, div#vmMainPageOPC select {
 border: 1px solid #D3D3D3;
 
}

div#vmMainPageOPC div.formField span {
 clear: both; 
}
div#vmMainPageOPC {
  margin: 0; 
  padding: 0; 

}
div#vmMainPageOPC table {
  border:none !important;
}
div#vmMainPageOPC fieldset {
  margin: 0; 
  padding: 0; 
}

div#vmMainPageOPC div.op_col5 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col5 span.opc_PricesalesPrice {
 text-align: auto;
}
div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice {
 text-align: right;
 float: right;
}

div#vmMainPageOPC h3 span.col-module_header_color {
 margin-left: 15px;
}

div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_r {
  
}
div#vmMainPageOPC  a{
color:#8f0412!important;
}

div#vmMainPageOPC  a:hover, div#vmMainPageOPC  a:active, div#vmMainPageOPC  a:focus, div#vmMainPageOPC .op_basket_row a:hover  {
  text-decoration: underline; 
  background: none; 
  background-color: transparent; 
  outline: none !important;
  color: #8f0412 !important; 
  
}
div#vmMainPageOPC  a:active{
	color:#8f0412 !important;
}
div#vmMainPageOPC  a:focus{
	color:#8f0412 !important;
}
div#vmMainPageOPC  a:hover {
	color:#8f0412 !important; 
}

div#vmMainPageOPC textarea#customer_note_box {
 padding: 3px 3px 3px 3px !important;
 width: 58%;
 margin-bottom: 0;
 max-width:220px;
}
div#vmMainPageOPC  a.deletebtn {
 background: none;
 background: transparent url('images/can.png') no-repeat top left !important; 
 color: transparent !important; 
 text-decoration: none !important;
 display: inline-block; 
 width: 20px; 
 height: 25px; 
 /*margin:2px;*/
}
div#vmMainPageOPC  a.deletebtn :hover{
color:  transparent !important;
}

div#vmMainPageOPC  a.deletebtn :active,div#vmMainPageOPC  a.deletebtn :focus,div#vmMainPageOPC  a.deletebtn :link, div#vmMainPageOPC  a.deletebtn :visited{
color:  transparent !important;
}

#vmMainPageOPC iframe.tos_iframe {
 width: 95%; 
 height: 250px; 
}
#vmMainPageOPC input.updatebtn,#vmMainPageOPC input.updatebtn:hover,#vmMainPageOPC a.updatebtn:hover, #vmMainPageOPC a.updatebtn  {
 width: 20px; 
 background: none;
 text-decoration: none !important;
 background: transparent url('images/refresh.png') no-repeat top left !important; 
 display: inline-block; 
 width: 20px; 
 height: 25px; 
 vertical-align: middle;
 border:none;
 /*margin:2px;*/
}


#vmMainPageOPC div#continue_button {
 display: inline-block;

}


#vmMainPageOPC div#onepage_main_div div#continue_button input { 
 float: left; 
}
#vmMainPageOPC div#basket_container div#continue_button input, #vmMainPageOPC div#onepage_main_div div#continue_button input {
	border: none;
	width: auto;
padding: 3px;
padding-bottom: 4px;
padding-left: 5px;
padding-right: 9px;
color: #ffffff;
font-size: 18px;
/*font-style: italic;*/
font-weight: 700;
border-color: #a3a3a3;
border-radius: 6px;
text-align: center;
vertical-align: middle;
line-height: 22px;

margin-top: 0; 
}
#vmMainPageOPC div#continue_button input:hover {
	color: #ffffff !important;
	background: black;
}


div#couponcode_box form button:hover{
	background:black ;
	color:#ffffff;
}
div#vmMainPageOPC div.loginsection {
 padding-top: 40px; 
}



div#tab_selector {
 margin-top: -19px;
}
div#top_basket_wrapper {
 width: 100%;
 
}

div#vmMainPageOPC table tr td, div#vmMainPageOPC table tr, div#vmMainPageOPC table td {
 border: 0; 
 background: none;
}

div#vmMainPageOPC span#customer_note_input {
 margin-top: 10px;
}
div#vmMainPageOPC #onepage_main_div h3, div#vmMainPageOPC h3, #onepage_main_div h3 span span span span {
 padding: 0 !important; 
 margin: 0 !important; 
 background: none !important;
 margin-top: 10px !important;
 margin-left: 10px; 
} 

div#vmMainPageOPC div#basket_container form#userForm div {
 float: left; 
 width: 70%; 
}
div#vmMainPageOPC div#basket_container input {

}

div#vmMainPageOPC div#basket_container form#userForm div.details-button, div#basket_container div div.details-button  {
 width: 20%; 
 clear: right; 
 float: left; 
}
div#basket_container div div.details-button {

}


div#vmMainPageOPC input#coupon_code {
 padding: 0;
 margin-right: 9px;
 width: 100%;
 background: none;
 height: 30px;
 width: 200px;  
 max-width: 70%; 
 float: left; 
 clear: left; 
}
/* set the width of the country field select dropdown */
div#vmMainPageOPC div#country_input select#country_box {
 width: 215px;
 max-width: 215px;
}

div#basket_container {
 width: 100%;
 float: left;
margin-bottom: 30px;
}

div#basket_container div#couponcode_box {
 margin-top: 10px; 
 float: left;
 width: 49%; 
 margin-bottom: 15px;
 position:relative;
 padding-right:12px; 
 }
div#basket_container div#couponcode_box  div#couponcode_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
}
div#basket_container div#couponcode_box span {
	font-weight:700;
	font-size: 12px;
	margin-left: 0px;
	margin-bottom:5px;
}

#vmMainPageOPC div.couponw {
 margin-top: 10px; 
}


div#basket_container div#couponcode_box form input {
 text-align: left;
 margin: 10px; 
 clear: both;
 display: block;
 width: 100%;
 height: 30px; 
}

div#basket_container div#subtotal_box{
	margin-top: 10px; 
	float: left;
	width: 48.5%; 
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 12px;
	position:relative;
}

div#basket_container  div#subtotal_box div#subtotal_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	margin: 0;
}
div#basket_container div#subtotal_box div{
	margin-left: 1%;
}

#onepage_main_div button {
 background-color: transparent !important;
 border: none ;
 box-shadow: none !important;
}
button#confirmbtn_button {
 background-color: transparent !important;
 border: none !important;
 position: absolute; 
 
}
div#couponcode_box  button {
 display: inline-block;
width: auto;
padding: 3px;
padding-left: 6%;
padding-right: 6%;
margin-left: 40%;
margin-top: 12px;
color: #ffffff;
border:none;
font-size: 12px;
/*font-style: italic;*/
font-weight: 700;
border-radius: 6px;
border-top-width: 3px;
text-align: center;
vertical-align: middle;
line-height: 15px;
/*-moz-box-shadow: 0px -2px 1px #a3a3a3;
-webkit-box-shadow: 0px -2px 1px #a3a3a3;
box-shadow: 0px -3px 2px #888;*/
}
div#couponcode_box form button span {
 float: none;
}

div#basket_container .black-basket {
 width: 100%;
}
div#basket_container div {
 width: 100%;
}
div#basket_container div div {
 width: 100%;
}



div#onepage_main_div {
 width: 100%;
 margin: 0;
 padding: 0;
 float: left;
}
div#vmMainPageOPC .col-module_header_color {
 font-size: 12px !important;
 font-weight: bold; 
 color: #FFD11B;
}

#basket_container .opc_product_name {
   color: #FF0000;
   font-weight: 700;
   text-decoration: none; 
}



div#vmMainPageOPC .op_round span#confirmbtn {
 background-image: url(images/button_paypal.png);
}
div#vmMainPageOPC button#confirmbtn_button .op_round {
 background-image: none;

}
div#vmMainPageOPC span#confirmbtn {
 text-align: left;
 font-weight: normal;
 padding-left: 20px;
 color: #FFFFFF;
}
span#op_separator {
 background: url(images/separator.png) no-repeat 0 0;
 width: 4px;
 vertical-align: top;
 height: 100%;
 line-height: 100%;
 white-space: wrap;
}

div#vmMainPageOPC .bandBoxStyle{
		/* fallback */
  background-color: #636363;
  background: url(images/basket_button.png);
  background-repeat: repeat-x;

  background: linear-gradient(bottom, rgb(41,41,41) 45%, rgb(99,99,99) 53%);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#2a2a2a) 45%, to(#2a2a2a) 53%);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #2a2a2a 45%, #636363 53%);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(bottom, #2a2a2a 45%, #636363 53%);

  /* IE 10 */
  background: -ms-linear-gradient(bottom, #2a2a2a 45%, #636363 53%);

  /* Opera 11.10+ */
  background: -o-linear-gradient(bottom, #2a2a2a 45%, #636363 53%);

  color: #ffffff;
  /*font-style: italic;*/
  font-weight: 700;
}
div#vmMainPageOPC .bandBoxRedStyle{
		/* fallback */
  background-color: #c60619;
  background: url(images/red_button.png);
  background-repeat: repeat-x;

  background: linear-gradient(bottom, rgb(143,4,18) 25%, rgb(198,6,25) 53%);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#8f0412) 25%, to(#c60619) 53%);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #8f0412 25%, #c60619 53%);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(bottom, #8f0412 25%, #c60619 53%);

  /* IE 10 */
  background: -ms-linear-gradient(bottom, #8f0412 25%, #c60619 53%);

  /* Opera 11.10+ */
  background: -o-linear-gradient(bottom, #8f0412 25%, #c60619 53%); 

  color: #ffffff;
  /*font-style: italic;*/
  font-weight: 700;
}
div#basket_container div.op_basket_head{
	color:#484848;
	float: left;
	margin: 0;
	padding:0px;
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3;
	border-radius: 2px;
	
	width: 100%;
	clear: both;
	font-weight: bold; 
	text-transform:uppercase;
	vertical-align: center;

	
  /* fallback */
  background-color: #d3d3d3;
  background: url(images/basket_head.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d3d3d3), to(#f9f9f9));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #d3d3d3, #f9f9f9);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #d3d3d3, #f9f9f9);

  /* IE 10 */
  background: -ms-linear-gradient(top, #d3d3d3, #f9f9f9);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #d3d3d3, #f9f9f9);
}
}
div#basket_container div.op_basket_head div.op_col1 {
	margin:0;
	padding:0;
	float:left;
	
	}
div#basket_container div.op_basket_head div.op_col2 {
 margin:0;
 padding:1%;
 width: 8%;
 float: left;
 overflow: visible;
 position: relative; 
 padding-left:5px;
}
div#basket_container div.op_basket_head div.op_col3 {
	width: 30%;
	float:left;
	margin:0;
	padding:1%;
	position: relative; 
}
div#basket_container div.op_basket_head div.op_col4 {
	width: 10%;
	float:left;
	margin:0;
	padding:1%;
	padding-left:0;
	position: relative; 
	text-align: center;
}
div#basket_container div.op_basket_head div.op_col5 {
	width: 10%;
	float:left;
	margin:0;
	padding:1%;
	position: relative; 
	text-align: center;
	padding-left:3%;

}
div#basket_container div.op_basket_head div.op_col6 {
	float:left;
	width: 15%;
	margin:0;
	padding:1%;
	padding-right:0;
	position: relative; 
}
div#basket_container div.op_basket_head div.op_col7 {
	float:left;
	width: 15%;
	margin:0;
	padding:1%;
	padding-right:0;
	position: relative; 
	text-align:right;
}


#basket_container .black-basket .col-module_content div.op_basket_row {
padding: 20px;
padding-left: 5px;
margin: auto;
margin-bottom:5px;
margin-top: 20px;
height: 35px;
position:relative;
}


div#basket_container div.op_basket_row div.op_col1 {
 width: 10%;
 float: left;
 overflow: visible;
 position: relative; 
 border-width: 1px;
 border-style: solid;
 border-color: #d3d3d3;
 clear:left;
 margin-bottom:10px;
}
div#basket_container div.op_basket_row div.op_col2 {
 width: 30%;
 float: left;
 overflow: visible;
 padding-left: 10px;
}
div#basket_container div.op_basket_row div.op_col3 {
 width: 10%;
 float: left;
 overflow: visible;
}
div#basket_container div.op_basket_row div.op_col4 {
 width: 10%;
 float: left;
 overflow: visible;
}
div#basket_container div.op_basket_row div.op_col5 {
 width: 10%;
 float: left;
 overflow: visible;
 text-align: right;
 color:#484848;
 padding-right: 10px;
}
div#basket_container div.op_basket_row div.op_col6 {
 width: 17%;
 float: left;
 overflow: visible;
 padding-left: 10px;
}
div#basket_container div.op_basket_row div.op_col6 form {
 float: left;
 width: 100%;
}
div#basket_container div.op_basket_row div.op_col6 form input {
 float: left !important;
}

div#basket_container div.op_basket_row div.op_col7 div.PricesalesPrice {
 text-align: right;
}

div#basket_container div.op_basket_row div.op_col7 {
 width: 15%;
 float: left;
 text-align: right;
 overflow: visible;
}
div#basket_container div.op_basket_row div.op_col1_4 {
 width: 60%;
 float: left;
 text-align: left;
 color:#484848;
 overflow: visible;
}
div#basket_container div.op_basket_row div.op_col1_3 {
 width: 61%;
 float: left;
 text-align: left;
 overflow: visible;
 color:#484848;
}

#vmMainPageOPC #basket_container select[name="virtuemart_paymentmethod_id"], #vmMainPageOPC #basket_container select[name="virtuemart_shipmentmethod_id"] {
 width: 95%; 
}


div#basket_container div.op_basket_row div.op_col5_3 {
 width: 39%;
 float: left;
 text-align: right;
 overflow: visible;
 color:#484848;
}
div#basket_container div.op_basket_row div.op_col2_2 {
 width: 32%;
 float: left;
 overflow: visible;
 padding-left: 1%;
 color:#484848;
}
div#basket_container div.op_basket_row div.op_col2_2 div span{
 padding:0;
 width:100%;
}
div#basket_container div.op_basket_row div.op_col2_3 {
 width: 50%;
float: left;
overflow: visible;
color:#484848;
}
div#onepage_main_div fieldset legend.sectiontableheader {
background: none;
padding: 0;
margin: 0;
border: none;

}
fieldset.op_fieldset strong {
 clear: both !important;
 width; 100%;
}
div#onepage_main_div fieldset.op_fieldset {
background: none !important;
padding: 0 !important;
margin: 0 !important;
border: none !important;
}



#basket_container div div div div div div div div div.op_basket_row {
 float: left;
 min-height: 30px;
 width: 100%;
 clear: both;
 vertical-align: center;
 background: url("images/othermenu_line.png") no-repeat scroll right bottom transparent;
 min-height: 35px;
 line-height: 35px;
 padding-bottom: 4px;
}
div#vmMainPageOPC .basket_container {
 clear: none; 
 white-space: no-wrap;
 float: left; 
}
span#op_round_and_separator {
 background-image: url(images/button_s.png);
 margin-left: -2px;
}
span#op_round_and_separator span {
 padding-left: 5px;
}

div#tab_selector button {
 background: none;
 background-color: transparent;
 color: white;
}
div#vmMainPageOPC span#span2 {
 background: none;
 background-color: transparent;

 
}
div#vmMainPageOPC span#span1 {
background: url(images/separator.png) no-repeat left top; 
 padding-left: 0;
 padding-right: 0;
}
div#vmMainPageOPC .op_starttab  {
 background: url(images/button-left.png) no-repeat left top;
 line-height: 27px; 
}
div#vmMainPageOPC .op_tabs {
 margin: 0;
 padding: 0; 
 line-height: 27px; 
}
div#vmMainPageOPC .op_endtab {
background: url(images/button-right.png) no-repeat right top;
line-height: 27px; 
}
div#vmMainPageOPC .coupon {
  
}

div#tab_selector {
 height: 30px;
 padding: 0;
 padding-top: -20px;
 padding-left: 30px;
}
li#op_login_btn {
  position: relative;
 margin: 0; 
 padding: 0;
 
}
li#op_register_btn {
 position: relative;
 margin: 0;
 padding: 0;
 
 }
 li#op_guest_btn {
 position: relative;
 margin: 0;
 padding: 0;
 
 }

li.op_list_separator{
 margin-left:-20px;
 margin-right: -4px;
} 
 
li.op_list_separator span{
 position:relative;
 background: url(images/separator.png) no-repeat;
 width:4px;
 height:29px;
 display: inline-block;
 margin: 0;
  -moz-margin-end: -10.5px;
 margin-bottom:-11px;

}
@-moz-document url-prefix() {
    li.op_list_separator span{
 position:relative;
 background: url(images/separator.png) no-repeat;
 width:4px;
 height:29px;
 display: inline-block;
 margin: 0;
 margin-bottom:-10.5px;

}
}

ul.op_list_ul{
 margin:0;
 padding:0;
} 
 
li.op_list_li{
 list-style-type: none;
 display: inline;
 text-align:center;
}

div#tab_selector button {

}
button#submit_coupon_button .op_round {
 margin: 0;
}

div#vmMainPageOPC button#submit_coupon_button {
 line-height: 22px; 
 padding-top: 3px; 
 padding-bottom: 3px; 
 padding-left: 6%; 
 padding-right: 6%; 
 margin: 0; 
}
span#span_coupon_button {
 min-width: 150px;
}
span#span_coupon_button span span {
 background: none; 
 padding: 0; 
 margin: 0; 
 margin-right: 20px; 
}
span#span_coupon_button span {
 text-align: center;
 padding-left: 45px; 
 
}

textarea#customer_note_box {
 height: auto;
 width: auto;
 overflow: auto;
}
div#onepage_userfieds {
	width: 100%; 
	float: left;
}
div#onepage_info_above_button {
	text-align: center; 
	margin: auto;
}
div#vmMainPageOPC  div#onepage_total_inc_sh {
 padding-top: 10px;
 width: 100%;
}
div#vmMainPageOPC div#onepage_info_above_button {
 width: 100%;
 
}
div#vmMainPageOPC div#onepage_info_above_button div div {
 width: 100%;
}
div#onepage_submit_section {
	width: 100%; 
	float: left; 
	padding-top: 30px;
}
input#confirmbtn {
	width: 350px; 
	height: 40px;  
	padding: 20px;
}
div#onepage_login_box {
 padding: 20px; 
 text-align: center; 
 margin-right: auto; 
 margin-left: auto; 
 width: 100%; 
}
div#onepage_login {
 text-align: left; 
 padding-left: 35%;
}
textarea#onepage_tos {
width: 100%;
}

div#vmMainPageOPC select#cc_expire_month_5 {
	width:auto;
}
div#vmMainPageOPC select#cc_expire_year_5{
	width:auto;
}
div#vmMainPageOPC div#agreed_div {
	text-align: left;
	margin-left: -2px;
}


div#vmMainPageOPC span.bottom_totals_txt {
width: 50%;
text-align: right;
float: left;
padding-left: 0px;
}

div#vmMainPageOPC span.bottom_totals {
/* width: 67%; */
text-align: left;
padding-left: 3%;
float: left;
padding-left: 35px;

}
div#onepage_total_inc_sh {
 width: 350px;
 float: left;
}
div#vmMainPageOPC div#totalam div {
 float: left;
 clear: both;
 width: 100%;
}
span#tt_total_txt {
 font-weight: bold;
}
div#totalam {

width: 350px;
clear: both;
float: left;
margin: 0 auto;
padding-left: 40px;
}

div#vmMainPageOPC br.op_clear {
 clear: both;
}

div#tt_order_subtotal_div {
 width: 100%;
 float: left;
 clear: both;
}
div#tt_order_payment_discount_before_div {
 width: 100%;
 display: none;
 
}

div#tt_order_discount_before_div {
 width: 100%;
 display: none;

}

div#tt_shipping_rate_div {
 width: 100%;
 

}
div#tt_shipping_tax_div {
 width: 100%;
 display: none;

}

div#tt_tax_total_0_div {
 display: none;
width: 100%;
}

div#tt_tax_total_1_div {
 display: none;
width: 100%;
}

div#tt_tax_total_2_div {
 display: none;
width: 100%;
}

div#tt_tax_total_3_div {
 display: none;
width: 100%;
}

div#tt_tax_total_4_div {
 width: 100%;
 display: none;

}

div#tt_order_payment_discount_after_div {
 width: 100%;
 display: none;

}

div#tt_order_discount_after_div {
 width: 100%;
 display: none;

}
span#tt_total {
 color: #8f0412;
 font-weight: 700;
}
div#tt_total_div {
 width: 100%;

}

div#logintab .button {
 float: left;
}
div#vmMainPageOPC div.op_col2_2 a strong {
 color: #FFD11B;
}
select#shipping_inside_basket_select {
 font-family: monospace;
}

select#payment_inside_basket {
 font-family: monospace;
}

div#rbsubmit, div#rbsubmit2 {
 vertical-align: bottom;
 text-align: right;
 position: relative; 
}
div#rbsubmit div, div#rbsubmit2  {
 padding: 0;
 width: 100%;
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formLabel {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 10px 10px 0 0;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div.formField {
    float: left;
    margin: 8px 2px 2px;
    vertical-align: middle;
    width: 60%;
}
/* rounded corners Felix */
div#vmMainPageOPC div.op_inside {
    /*margin-bottom: -20px;*/
/*    margin-top: -15px; */
    margin-top: 0px; 
/*    padding-top: 15px;  */
    float: left;
    margin-right: 0; 
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;	 
    padding-bottom: 5px;
    padding-top: 20px;
	margin-bottom: -15px; 
}

div#vmMainPageOPC div.op_rounded_content div div {
 padding-top: 20px;

}
div#vmMainPageOPC .checkoutarea {
    background: none repeat scroll 0 0 transparent !important;
    border: none !important;
	margin: 0 !important;    
    padding: 10px 0 !important;
    width: 100% !important;
    float: left !important;
    clear: both;
}

div#vmMainPageOPC div.op_rounded {
    background: url("images/col-module_br.png") no-repeat scroll right bottom transparent;
    margin: 0 0 30px;
    overflow: visible;
    float: left;
    width: 100%;
    
}

#onepage_main_div button {
 background: none;
 background-color: transparent;
 border: medium none;
 cursor: pointer;
 overflow: visible;
 padding: 0 2px;
 white-space: nowrap;
 width; auto;
}
div#vmMainPageOPC button:hover .op_round {
 background-position: right bottom;
 color: #FFFFFF;
}
div#vmMainPageOPC button:hover .op_round span {
 background-position: left bottom;
}


#onepage_main_div .op_round:hover {
 background-position: right bottom;
 color: #FFFFFF;
}
#onepage_main_div .op_round:hover span {
 background-position: left bottom;
}
#onepage_main_div strong {
 text-decoration: none !important;
}
div#vmMainPageOPC .op_basket_row a {
 text-decoration: none;
}
div#vmMainPageOPC #onepage_main_div button span span {
 /*background: none;*/
 text-indent: -25px;
 text-align: center;
}
div#vmMainPageOPC #onepage_main_div #confirmbtn_button span span {
 text-indent: 0;
 text-align: left;
}

#vmMainPageOPC input#confirmbtn_button {
position: absolute; 
bottom: 0;  
right: 0; 

}

div#vmMainPageOPC .op_round {
 background-image: url(images/button.png);
 background-position: right top;
 background-repeat: no-repeat;
 color: #CCCCCC;
 cursor: pointer;
 display: inline-block;
 line-height: 27px;
 padding-right: 15px;

 text-decoration: none;
 vertical-align: middle;
 margin: 0;
 margin-right: 10px;
}
div#vmMainPageOPC   .op_round span span {
 background: none; 
}
div#vmMainPageOPC   .op_round span {
 background-image: url(images/button.png);
 background-position: left top;
 background-repeat: no-repeat;
 background-color: transparent;
 height: 29px;
 padding-left: -15px;
 display: inline-block;
 margin: 0;
}
span#op_round_and_separator {
 overflow: hidden;
}
div#vmMainPageOPC div.op_inside {
}
div#vmMainPageOPC div.op_rounded div {
    background: url("images/col-module_bl.png") no-repeat scroll left bottom transparent;
    padding-top: 20px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div {
    background: url("images/col-module_tr.png") no-repeat scroll right top transparent;
        padding-top: 20px;
}
div#vmMainPageOPC div.op_rounded div div div {
    background: url("images/col-module_tl.png") no-repeat scroll left top transparent;
        padding-top: 0px;
    margin-top: -20px;
}
div#vmMainPageOPC div.op_rounded div div div div {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0px;
    margin: 0;
	margin-top: 0px;
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix {
    clear: both;
    overflow: visible;
    padding: 9px 10px;
    /*position: relative;*/
    /*min-height: 200px; */
   
    
}
div#vmMainPageOPC div.op_rounded_content div {
    
}
div#vmMainPageOPC div.op_rounded div.op_rounded_fix div {
 clear: none;
 position: auto;
 padding-left: 10px;
 width: 95%;
}

div#vmMainPageOPC div.op_rounded div.op_rounded_fix div div {
 clear: none;
 position: auto;
 padding: 0;
 width: auto;
}


div#vmMainPageOPC div.op_rounded h3 {
    color: #555555;
    display: inline-block;
    font-size: 1em;
    margin-top: -50px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_r, div#vmMainPageOPC div.op_rounded h3 span.col-module_header_l, div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    display: inline-block;
    height: 43px;
    line-height: 31px;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    padding: 0 15px;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_r {
    background: url("images/col-module_header_r.png") no-repeat scroll right center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_l {
    background: url("images/col-module_header_l.png") no-repeat scroll left center transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_arrow {
    background: url("images/col-module_header_arrow.png") no-repeat scroll center bottom transparent;
}
div#vmMainPageOPC div.op_rounded h3 span.col-module_header_color {
    color: #015A80;
}
div#vmMainPageOPC div.op_rounded .op_rounded_content {
    margin-top: 14px;
    text-align: left;
    padding: 0;
}

div#vmMainPageOPC div.op_rounded {
    margin-right: 10px;
}

div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_r {
    background: url("images/col-module_dark_header_r.png") no-repeat scroll right center transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_l {
    background: url("images/col-module_dark_header_l.png") no-repeat scroll left center transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_arrow {
    background: url("images/col-module_dark_header_arrow.png") no-repeat scroll center bottom transparent;
}
div#vmMainPageOPC div.op_rounded_fix h3 {
    color: #FFFFFF;
}
div#vmMainPageOPC div.op_rounded_fix h3 span.col-module_header_color {
    color: #CCCCCC; 
}
button#confirmbtn {
 top: 100px;
}

div#vmMainPageOPC div.black-basket {
    
	background: transparent;
}
div#vmMainPageOPC div#rbsubmit, div#rbsubmit2 {
	max-width:100%;
	float: right;
}
/*
#basket_container .black-basket div {
    background: url("images/colmodule_style1_bl.png") no-repeat scroll left bottom transparent;
}
#basket_container .black-basket div div {
    background: url("images/colmodule_style1_tr.png") no-repeat scroll right top transparent;
}
#basket_container .black-basket div div div {
    background: url("images/colmodule_style1_tl.png") no-repeat scroll left top transparent;
}
#basket_container .black-basket div div div div {
    background: none repeat scroll 0 0 transparent;
}
*/
div#vmMainPageOPC #basket_container .black-basket div.col-module_fix {
    clear: both;
    overflow: visible;
    padding: 0;
    position: relative;
}
div#vmMainPageOPC #basket_container .black-basket h3 span {
    background: none repeat scroll 0 0 transparent !important;
    display: inline !important;
    height: auto !important;
    line-height: normal !important;
    padding: 0 !important;
}
div#vmMainPageOPC #basket_container .black-basket h3 {
    background: url("images/colmodule_style1_header.png") repeat-x scroll left bottom transparent;
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
    margin: 5px 10px 7px;
    padding: 10px 0 8px;
}
div#vmMainPageOPC #basket_container .black-basket h3 span.col-module_header_color {
    /*color: #CCCCCC;*/
}
div#vmMainPageOPC #basket_container .black-basket .col-module_content {
    color: #484848;
/*    padding: 0 12px 12px; */
}

div#vmMainPageOPC #basket_container img.browseProductImage 
{
 margin-left: 4px;
}
div#vmMainPageOPC #basket_container .black-basket {
    margin-right: 0px;
	margin-left: 0px;
}

div#vmMainPageOPC basket_container tr {
    /* background: url("images/othermenu_line.png") no-repeat scroll right bottom transparent; */
    border-bottom: 0.2px dotted #999999;
    color: #999999;
    font-size: 1em;
    height: 29px;
    line-height: 29px;
    padding: 0;
    position: relative;
    text-decoration: none;
}
#basket_container tr td {
 background: none;
}
div#vmMainPageOPC tbody {display:block; display:table-row-group;} /* IE and FF */
div#vmMainPageOPC table { empty-cells:show; }


/* address listing */
div#vmMainPageOPC div#staddresses div.op_field_name {
  width:40%; 
  float: left;
  margin: 0; 
  padding: 0; 
}
div#vmMainPageOPC div#staddresses div.op_field_value {
 
 float: left; 
 clear: right; 
 margin:0; 
 padding:0;
 width:60%; 
}

div#vmMainPageOPC div#staddresses div.op_radiowrapper {
 width: 10%; 
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 float: left; 
 clear: left; 
}

div#vmMainPageOPC div#staddresses div.op_labelwrapper {
 margin: 0; 
 margin-top: 10px; 
 padding: 0; 
 width: 90%; 
 float: left; 

 clear: right;  
}


div#vmMainPageOPC select {
  max-width: 95%; 
}

div#basket_container input.inputbox_update {
 max-width: 40px !important; 
}

div#register_box {
 margin-top: 10px; 
 float: left;
 width: 33.3%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#register_box  div#register_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#register_box div span {
	font-weight:700;
	font-size: 12px;
	margin-bottom:5px;
	float:left;
}
div#register_box div {
	margin-bottom: 5px;
	margin-left: 2%;
}
div#register_box div div{
	margin-left:0;
}
div#register_box div  input{
	font-size: 12px;
	float:left;
	width:95%;
	
}
div#register_box div .formField label{
	font-size: 12px;
	
	
}
div#register_box div .formLabel, div#login_box div.formLabel {
	float:left;
	width: 35%;
	clear:left;
	
}

div#login_container span, div#register_container span, div#guest_container span {
 float: left; 
 width: 100%; 
 clear: both; 
}

div#register_box div#opc_password_div {
	float:left;
	width: 35%;
}
div#register_box div#opc_password2_div {
	float:left;
	width: 35%;
}
div#register_box div .formField, div#login_box div.formField {
	width: 60%;
	float: left;
}

div#register_box div .formLabel label{
	clear:both;
	float:left;
	font-size:12px;
	margin-top: 5px;
}

div#register_box div .formField input[type="password"]{

	
}
div#register_box div#registerbtnfield{
	width:63%;
	float:right;
}

div#register_box button {
 display: inline-block;
width: 60%;
padding: 3px;
margin-left: 40%;
margin-top: 12px;
color: #ffffff;
border-width: 1px;
font-size: 12px;
/*font-style: italic;*/
font-weight: 700;
border-style: solid;
border-color: #a3a3a3;
border-radius: 6px;
border-top-width: 3px;
text-align: center;
vertical-align: middle;
line-height: 15px;
}
div#login_box {
 margin-top: 10px; 
 float: left;
 width: 33.3%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#login_box  div#login_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#login_box div span {
	font-weight:700;
	font-size: 12px;
	margin-bottom:10px;
}
div#login_box div.formField, div#guest_container div.formField {
	
	font-size: 12px;
	margin-bottom: 5px;

}
div#vmMainPageOPC div#login_box div.LoginSubmit {
 width: 100%; 
 float: none; 
}

div#login_box div#loginbtnfield {
	width: 100%;
	float:none;
	text-align: right; 
	clear: both; 
}
div#login_box div#loginbtnfield div#loginbdiv {
 text-align: right; 
 width: 40%; 
 float: right; 
}


div#login_box div#loginbtnfield div#loginbdiv  input.loginbtn {
 float: right; 
}
div#login_box div#loginbtnfield div.forgotpwd {
	width: 100%; 
	clear: both; 
	float:left;
	text-align: right; 
	clear: both; 
	font-size: 0.8em; 
	color:#c60619;
	
}
div#login_box  input {
	float: left;
	width:95%;
}
div#login_box  input[type="checkbox"] {
	float: left;
	width:auto;
	border: none;
}
#onepage_main_div div#login_box input[type="button"] {
	float: left;
	margin:0px;
	margin-right:2%;
}

div#login_box div label, div#guest_container div label {
	float:left;
	font-weight:bold;
	font-size: 12px;
	height:30px;
	margin-bottom:10px;
	clear: left;
}

div#login_box button {
 display: inline-block;
width: 60%;
padding: 3px;
margin-left: 40%;
margin-top: 12px;
color: #ffffff;
border-width: 1px;
font-size: 12px;
/*font-style: italic;*/
font-weight: 700;
border-style: solid;
border-color: #a3a3a3;
border-radius: 6px;
border-top-width: 3px;
text-align: center;
vertical-align: middle;
line-height: 15px;
}

div#guest_box {
 margin-top: 10px; 
 float: left;
 width: 33.3%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#guest_box  div#guest_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#guest_box div .formLabel {
float: left;
width: 35%;
clear: left;
}
div#guest_box div .formField {
float: right;
width: 60%;


margin-left:1%;
}

div#guest_box div span {
	font-weight:700;
	font-size: 12px;
	margin-bottom:5px;
	float:left;
	white-space: normal; 
}
div#guest_box div {
	margin-left: 1%;
	font-weight:500;
	font-size: 12px;
	margin-bottom: 5px;
}
div#guest_box div#guestbtnfield {
	width: 65%;
	float: right;
	margin: 0;
	padding: 0;
}
#onepage_main_div div#guest_box input[type="button"]{
	float: right;
	margin: 0;
	margin-left: 2%;
	width: auto;
	padding-right: 5%;
	padding-left: 5%;
}
#onepage_main_div div input[type="submit"]:hover,
#onepage_main_div div input[type="button"]:hover{
	background:#8f0412;
	color: #ffffff;
} 


div#guest_box  input#guest_email {
 	float: left;
	width:95%;
	/*height: 20px;*/
	max-width:220px;
	margin-right: 0; 
	padding-right: 0; 
}

#onepage_main_div .loginsection .submitbtn, #onepage_main_div #rbsubmit2 .submitbtn {
 display: inline-block;
width: auto;
padding: 3px;
padding-left:6%;
padding-right:6%;
margin: 0; 
color: #ffffff;
font-size: 18px;
/*font-style: italic;*/
font-weight: 700;
border:none;
border-radius: 6px;
border-top-width: 2px !important;
text-align: center;
vertical-align: middle;
line-height: 22px;
/*-moz-box-shadow: 0px -3px 2px #cb9696;
-webkit-box-shadow: 0px -3px 2px #cb9696;
box-shadow: 0px -3px 2px #cb9696;*/
}


div#billTo_box {
 margin-top: 10px; 
 float: left;
 width: 50%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#billTo_box  div#billTo_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#billTo_box div span {
	font-weight:500;
	font-size: 12px;
	margin-bottom:5px;
}
div#billTo_box div {
	margin-left: 1%;
	font-weight:500;
	font-size: 12px;
	margin-bottom: 5px;
}

#onepage_main_div div#billTo_box input[type="button"]{
	float:left;
	margin:0;
	margin-left: -5px;
	width: 40%;
}

div#billTo_box div label{
	float:left;
	margin-right: 10px;
	font-weight:500;
	font-size: 12px;
}

div#billTo_box  input#billTo_email {
 	float: right;
	width:70%;
	height: 20px;
}
div#billTo_box div .formField label{
	font-size: 12px;
	
	
}
div#billTo_box div .formLabel{
	float:left;
	width: 35%;
	clear:left;
}


div#billTo_box div#opc_password_div {
	float:left;
	width: 40%;
}
div#billTo_box div#opc_password2_div {
	float:left;
	width: 40%;
}
div#billTo_box div .formField{
	float: left;
	width: 60%;
	position:relative;
}
div#billTo_box div .formField br{
	clear:both;
}


div#billTo_box div .formLabel label{
	clear:both;
	float:left;
	font-size:12px;
	
}
div#billTo_box div .formField input{
	float:left; 
	font-size:12px;
	max-width:95%;
}
div#billTo_box div  .formField input[type="checkbox"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#billTo_box div  .formField input[type="radio"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#billTo_box div .formField input[type="password"]{
	width:50%;
}
#vmMainPageOPC div#payment_html input[type="text"],#vmMainPageOPC div#payment_html select {
 box-sizing: border-box; 
}
#vmMainPageOPC div.formField input[type="text"],#vmMainPageOPC div.formField select,#vmMainPageOPC div.formField input[type="password"] {

box-sizing: border-box; 
width: 100%; 
max-width: 100%; 
}


div#shipTo_box {
 margin-top: 10px; 
 float: left;
 width: 50%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#shipTo_box  div#shipTo_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#shipTo_box div span {
	font-weight:500;
	font-size: 12px;
	margin-bottom:5px;
}
div#shipTo_box div {
	
	font-weight:500;
	font-size: 12px;
	margin-bottom: 5px;
}

#onepage_main_div div#shipTo_box input[type="button"]{
	float:left;
	margin:0;
	margin-left: -5px;
	width: 40%;
}

div#shipTo_box div label{
	float:left;
	margin-right: 10px;
	font-weight:500;
	font-size: 12px;
}

div#shipTo_box  input#shipTo_email {
 	float: right;
	width:70%;
	height: 20px;
}
div#shipTo_box div .formField label{
	font-size: 12px;
	
	
}
div#shipTo_box div .formLabel{
	float:left;
	width: 35%;
	clear:left;
}


div#shipTo_box div#opc_password_div {
	float:left;
	width: 40%;
}
div#shipTo_box div#opc_password2_div {
	float:left;
	width: 40%;
}
div#shipTo_box div .formField{
	float: left;
	width: 60%;
	position:relative;
}
div#shipTo_box div .formField br{
	clear:both;
}


div#shipTo_box div .formLabel label{
	clear:both;
	float:left;
	font-size:12px;
	
}
div#shipTo_box div .formField input{
	float:left; 
	font-size:12px;
	max-width:95%;
}
div#shipTo_box div  .formField input[type="checkbox"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#shipTo_box div  .formField input[type="radio"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#shipTo_box div .formField input[type="password"]{
	width:50%;
}


div#shipping_box, #vmMainPageOPC div.section_box {
 margin-top: 10px; 
 float: left;
 width: 50%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#shipping_box  div#shipping_head, #vmMainPageOPC div.section_header {
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#shipping_box div span {
	font-weight:500;
	font-size: 12px;
	margin-bottom:5px;
}
div#shipping_box div {
	font-weight:500;
	font-size: 12px;
	margin-bottom: 5px;
}

#onepage_main_div div#shipping_box input[type="button"]{
	float:left;
	margin:0;
	margin-left: -5px;
	width: 40%;
}

div#shipping_box div label{
	float:left;
	margin-right: 10px;
	font-weight:500;
	font-size: 12px;
}

div#shipping_box  input#shipping_email {
 	float: right;
	width:70%;
	height: 20px;
}

div#shipping_box div#opc_password_div {
	float:left;
	width: 40%;
}
div#shipping_box div#opc_password2_div {
	float:left;
	width: 40%;
}

div#shipping_box div br{
	clear:both;
}

div#shipping_box div input[type="radio"]{
	float:left;
	margin:5px;
	border: none;
	width:auto;
}


div#payment_box {
 margin-top: 10px; 
 float: right;
 width: 50%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#payment_box  div#payment_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#payment_box div span {
	font-weight:500;
	font-size: 12px;
	margin-bottom:5px;
}
div#payment_box div {
	font-weight:500;
	font-size: 12px;
	margin-bottom: 5px;
}

#onepage_main_div div#payment_box input[type="button"]{
	float:left;
	margin:0;
	margin-left: -5px;
	width: 40%;
}

div#payment_html select {
 max-width: 100px; 
}

div#payment_box div label{
	margin-right: 10px;
	font-weight:500;
	font-size: 12px;
}

div#payment_box  input#payment_email {
 	float: right;
	width:70%;
	height: 20px;
}
div#payment_box div .formField label{
	font-size: 12px;
	
	
}
div#payment_box div .formLabel{
	float:left;
	width: 35%;
	clear:left;
}


div#payment_box div#opc_password_div {
	float:left;
	width: 40%;
}
div#payment_box div#opc_password2_div {
	float:left;
	width: 40%;
}
div#payment_box div .formField{
	float: left;
	width: 60%;
	position:relative;
}
div#payment_box div .formField br{
	clear:both;
}


div#payment_box div .formLabel label{
	clear:both;
	float:left;
	font-size:12px;
	
}
div#payment_box div .formField input{
	float:left; 
	font-size:12px;
	max-width:95%;
}
div#payment_box div  .formField input[type="checkbox"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#payment_box div input[type="radio"]{
	float:left; 
	font-size:12px;
	width:auto;
	margin:5px;
	border: none;
}
div#payment_box div .formField input[type="password"]{
	width:50%;
}

div#vmMainPageOPC input.opcquantity {
 max-width: 30px; 
 display: inline-block; 
}

div#cartTos_box {
 margin-top: 10px; 
 float: left;
 width: 50%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#cartTos_box  div#cartTos_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#cartTos_box div span {
	font-weight:500;
	font-size: 12px;
	margin-bottom:5px;
}
div#cartTos_box div {
	margin-left: 1%;
	font-weight:500;
	font-size: 12px;
	margin-bottom: 5px;
}

#onepage_main_div div#cartTos_box input[type="button"]{
	float:left;
	margin:0;
	margin-left: -5px;
	width: 40%;
}

div#cartTos_box div label{
	float:left;
	margin-right: 10px;
	font-weight:500;
	font-size: 12px;
}

div#cartTos_box  input#cartTos_email {
 	float: right;
	width:70%;
	height: 20px;
}
div#cartTos_box div .formField label{
	font-size: 12px;
	
	
}
div#cartTos_box div .formLabel{
	float:left;
	width: 35%;
	clear:left;
}


div#cartTos_box div#opc_password_div {
	float:left;
	width: 40%;
}
div#cartTos_box div#opc_password2_div {
	float:left;
	width: 40%;
}
div#cartTos_box div .formField{
	float: left;
	width: 60%;
	position:relative;
}
div#cartTos_box div .formField br{
	clear:both;
}


div#cartTos_box div .formLabel label{
	clear:both;
	float:left;
	font-size:12px;
	
}
div#cartTos_box div .formField input{
	float:left; 
	font-size:12px;
	max-width:95%;
}
div#cartTos_box div  .formField input[type="checkbox"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#cartTos_box div  .formField input[type="radio"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#cartTos_box div .formField input[type="password"]{
	width:50%;
}

div#fullTos_box {
 margin-top: 10px; 
 float: left;
 width: 50%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#fullTos_box  div#fullTos_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#fullTos_box div span {
	font-weight:500;
	font-size: 12px;
	margin-bottom:5px;
}
div#fullTos_box div {
	margin-left: 5px;
	font-weight:500;
	font-size: 12px;
	margin-bottom: 5px;
}

#onepage_main_div div#fullTos_box input[type="button"]{
	float:left;
	margin:0;
	margin-left: -5px;
	width: 40%;
}

div#fullTos_box div label{
	float:left;
	margin-right: 10px;
	font-weight:500;
	font-size: 12px;
}

div#fullTos_box  input#fullTos_email {
 	float: right;
	width:70%;
	height: 20px;
}
div#fullTos_box div .formField label{
	font-size: 12px;
	
	
}
div#fullTos_box div .formLabel{
	float:left;
	width: 35%;
}


div#fullTos_box div#opc_password_div {
	float:left;
	width: 40%;
}
div#fullTos_box div#opc_password2_div {
	float:left;
	width: 40%;
}
div#fullTos_box div .formField{
	float: left;
	width: 60%;
}
div#fullTos_box div .formField br{
	clear:both;
}


div#fullTos_box div .formLabel label{
	clear:both;
	float:left;
	font-size:12px;
	
}
div#fullTos_box div .formField input{
	float:left; 
	margin-bottom: 5px;
	font-size:12px;
}
div#fullTos_box div .formField input[type="password"]{
	width:50%;
}


div#comment_box {
 margin-top: 10px; 
 float: left;
 width: 50%; 
 margin-bottom: 15px;
 position:relative;
 padding:0; 
 }
div#comment_box  div#comment_head{
	padding:5px;
	font-size: 18px;
	border-left: #636363 1px solid;
	border-right: #2a2a2a 1px solid;
	float:none;
	margin:0;
}
div#comment_box div span {
	font-weight:700;
	font-size: 12px;
	margin-bottom:5px;
}
div#comment_box div {
	margin-left: 0;
	font-weight:500;
	font-size: 12px;
	margin-right: 0%;
}

#onepage_main_div div#comment_box div div input[type="submit"]
{
 display: inline-block;
width: auto;
padding: 3px;
padding-left:5%;
padding-right: 5%;
margin-top: 12px;
margin-left: 30px;
float:left;
color: #ffffff;
font-size: 18px;
/*font-style: italic;*/
font-weight: 700;
border:none;
border-radius: 6px;
text-align: center;
vertical-align: middle;
line-height: 20px;
/*-moz-box-shadow: 0px -3px 2px #cb9696;
-webkit-box-shadow: 0px -3px 2px #cb9696;
box-shadow: 0px -3px 2px #cb9696;*/
}

div#comment_box div label{
	float:left;
	margin-right: 1%;
	font-weight:500;
	font-size: 12px;
}

div#comment_box  input#comment_email {
 	float: right;
	width:70%;
	height: 20px;
}
div#comment_box div .formField label{
	font-size: 12px;
	width: 35%;
	max-width: 160px;
	max-width: 160px;
	
}
div#comment_box div .formLabel{
	width: auto;
	clear:left;
}


div#comment_box div#opc_password_div {
	float:left;
	width: 40%;
}
div#comment_box div#opc_password2_div {
	float:left;
	width: 40%;
}
div#comment_box div .formField{
	float: left;
	width: 100%;
	position:relative;
}
div#comment_box div .formField br{
	clear:both;
}


div#comment_box div .formLabel label{
	float:none;
	font-size:12px;
	
}
div#comment_box div .formField input{
	float:left; 
	font-size:12px;
	max-width:95%;
}
div#comment_box  input[type="checkbox"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#comment_box div  .formField input[type="radio"]{
	float:left; 
	font-size:12px;
	width:auto;
	border: none;
}
div#comment_box div .formField input[type="password"]{
	width:50%;
}
div#couponcode_container{
	margin-top:5px;
	}
	
div#register_container{
	margin-top:5px;
	}
div#login_container{
	margin-top:5px;
	margin-left:2%;
	margin-right: 2%;
	}
div#guest_container{
	margin-top:5px;
	}

div#subtotal_container{
	margin-top:5px;
	}

div#billTo_container{
	margin-top:5px;
	}	

div#shipTo_container{
	margin-top:5px;
	}

div#shipping_container, #vmMainPageOPC .opc_container {
	margin-top:5px;
	}

div#payment_container{
	margin-top:5px;
	}

div#comment_container{
	margin-top:5px;
	max-width: 120%;
	float: left;
	padding-left:2%;
	width:96%;
	}

div#fullTos_container{
	margin-top:5px;
	}

div#cartTos_container{
	margin-top:5px;
	}
	
@media (max-width: 700px) { 
div#basket_container div#couponcode_box {
	width:100%;
	}
	
div#register_box {
	width:100%;
	}
div#login_box {
	width:100%;
	}
div#guest_box {
	width:100%;
	}

div#basket_container div#subtotal_box {
	width:100%;
	}

div#billTo_box {
	width:100%;
	}	

div#shipTo_box {
	width:100%;
	}

div#shipping_box,  #vmMainPageOPC div.section_box {
	width:100%;
	}

div#payment_box {
	width:100%;
	}

div#comment_box {
	width:100%;
	}

div#fullTos_box {
	width:100%;
	}

div#cartTos_box {
	width:100%;
	}
#basket_container .black-basket .col-module_content div.op_basket_row {
 padding: 0;
}	
div#basket_container div.op_basket_row div.op_col7,div#basket_container div.op_basket_head div.op_col7 {
 float: right; 
 width: 25%;
 
}
div#basket_container div.op_basket_row div.op_col7 div {
 
 
}

.sku_column, .unit_column {
  display: none; 
  visibility: hidden; 
 }	

 div.op_col1 {
  display: none; 
 }
 div.op_col6  {
  
  min-width: 100px; 
 }
 div.op_basket_row div.op_col6  {
  margin-top: 5px; 
 }
 div.op_basket_head, div.op_basket_row {
  position: relative; 
 }
 
 
 div#guest_container {
  float: left; 
  width: 100% !important; 
  clear: both; 
  white-space: wrap; 
 }
 
 
 #vmMainPageOPC select, #vmMainPageOPC textarea, #vmMainPageOPC input {
    max-width: 177px; 
	}
	div#vmMainPageOPC  textarea#customer_note_box, #vmMainPageOPC span#customer_note_input  {
	 float: left; 
	 width: 100% !important; 
	 clear: both; 
	}
	
	