#jsn-master{ position:relative;background:url(/plugins/system/jsnmobilize/assets/images/thumbnail/solidBg.jpg);background-size:  ;}
#jsn-master .jsn-mobile-layout{ position:relative;padding-left:20px;padding-right:20px;padding-bottom:20px;padding-top:20px; }
#jsn-master .jsn-mobile-layout #jsn-menu .row-fluid {position: relative; width: auto !important}
#jsn-master .jsn-mobile-layout p{ font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout h1, h2, h3, h4, h5, h6{ font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout a{  }

#jsn-master .jsn-mobile-layout #jsn-menu{ background:#000000; }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu ul.jsn-menu-mobile,#jsn_menu .mobilize-menu div.jsn-menu-mobile{ background:#333333; }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu ul.jsn-menu-mobile > li > a{ font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu ul.jsn-menu-mobile ul{  }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu ul.jsn-menu-mobile ul li a{ font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu > li > span.active{ background:#404040; }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu > li > ul > li.sub-menu-active{  }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu > li > ul > li.sub-menu-active > ul li.current{  }
#jsn-master .jsn-mobile-layout #jsn-menu .mobilize-menu > li > span.jsn-menu-toggle i { color:white;
background-image:url(/media/jui/img/glyphicons-halflings-white.png);
color:white; }
#jsn-master .jsn-mobile-layout #jsn-mobile-tool {text-align:left !important}#jsn-master .jsn-mobile-layout #jsn-mobile-tool input[type="radio"], #jsn-master .jsn-mobile-layout #jsn-mobile-tool input[type="checkbox"]{float:none;text-align: left !important}#jsn-master #jsn-mobile-tool .jsn-narrow .jsn-row-container label{text-align: left !important}
#jsn-master .jsn-mobile-layout #jsn-mobile-tool { background:#ffffff;font-family:Verdana;font-style:inherit;color:#000000;font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-content-top { background:#111111;font-family:Verdana;font-style:inherit;color:#000000;font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-content-top { background:#111111;font-family:Verdana;font-style:inherit;color:#000000;font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-mainbody { background:#ffffff;padding-left:20px;padding-right:20px;padding-bottom:20px;padding-top:20px; }
#jsn-master .jsn-mobile-layout #jsn-mainbody { font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-mainbody h1, #jsn-master .jsn-mobile-layout #jsn-mainbody h2, #jsn-master .jsn-mobile-layout #jsn-mainbody h3, #jsn-master .jsn-mobile-layout #jsn-mainbody h4, #jsn-master .jsn-mobile-layout #jsn-mainbody h5, #jsn-master .jsn-mobile-layout #jsn-mainbody h6{ font-family:Roboto;font-size:20px;font-style:inherit;color:#000000;!important}
#jsn-master .jsn-mobile-layout #jsn-mainbody a {  }
#jsn-master .jsn-mobile-layout #jsn-user-top{ position:relative;background:url(/plugins/system/jsnmobilize/assets/images/thumbnail/solidUt.png);background-size:  ;}
#jsn-master .jsn-mobile-layout #jsn-user-top { font-family:Verdana;font-style:inherit;color:#000000;font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-user-bottom{ position:relative;background:url(/plugins/system/jsnmobilize/assets/images/thumbnail/solidUb.png);background-size:  ;}
#jsn-master .jsn-mobile-layout #jsn-user-bottom { font-family:Verdana;font-style:inherit;color:#000000;font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-content-bottom{ position:relative;background:url(/plugins/system/jsnmobilize/assets/images/thumbnail/solidCb.png);background-size:  ;}
#jsn-master .jsn-mobile-layout #jsn-content-bottom { font-family:Verdana;font-style:inherit;color:#000000;font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-footer { font-family:Verdana;font-style:inherit;color:#000000;font-family:Verdana;font-style:inherit;color:#000000; }
#jsn-master .jsn-mobile-layout #jsn-switcher{  }